<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div tiles:fragment="title">Dashboard</div>
	<!-- ============================================
    MAIN CONTENT SECTION
    =============================================== -->
	<section class="content-wrapper" role="main" tiles:fragment="content" ng-app="app.dashboard">
	<toaster-container></toaster-container>
	<div class="content" ng-view=""></div>
		<div class="content">
			<div class="content-bar">
				<!-- <div class="pull-right" role="group">
					<a data-toggle="modal" href="#"
						th:attr="data-scripts=@{/resources/assets/_includes/setups.js}"
						data-target="#templateSetup" title="Template Setups"
						aria-label="template setups"
						class="btn btn-nofill btn-sm btn-default"><span
						class="icon-settings fa-lg text-muted"></span></a>
				</div> -->
				<ul class="breadcrumb breadcrumb-angle">
					<li><a href="#" aria-label="home"><i class="fa fa-home"></i></a></li>
					<li class="active">Dashboard</li>
				</ul>
			</div>
			<!-- /.content-bar -->


			<div class="content-body">
				<!-- AUDIENCE OVERVIEW -->
				<div class="col-md-6">
				<div class="panel" data-fill-color="true">
					<div class="panel-heading">
						<h3 class="panel-title">Device overview</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-4 col-xs-4 mb-4x bordered-right">
								<div class="media">
									<div class="media-left media-middle hidden-xxs">
										<div class="media-object">
											<i class="fa fa-desktop text-muted fa-2x"></i>
										</div>
									</div>
									<div class="media-body">
										<p>Web Devices</p>
										<h3 class="media-heading" th:text="${myordershopweb}"></h3>
										<!-- <p class="text-overflow">
											<small>+ 8% <i class="fa fa-arrow-up text-teal ml-1x"></i></small>
										</p> -->
									</div>
								</div>
								<!-- /.media -->
							</div>
							<!-- /.cols -->
							<div class="col-md-4 col-xs-4 mb-4x bordered-right">
								<div class="media">
									<div class="media-left media-middle hidden-xxs">
										<div class="media-object">
											<i class="fa fa-apple text-muted fa-2x" aria-hidden="true"></i>
										</div>
									</div>
									<div class="media-body">
										<p>IOS</p>
										<h3 class="media-heading" th:text="${myordershopios}"></h3>
										<!-- <p class="text-overflow">
											<small>+ 11% <i
												class="fa fa-arrow-up text-teal ml-1x"></i></small>
										</p> -->
									</div>
								</div>
								<!-- /.media -->
							</div>
							<!-- /.cols -->
							<div class="col-md-4 col-xs-4 mb-4x">
								<div class="media">
									<div class="media-left media-middle hidden-xxs">
										<div class="media-object">
											<i class="fa fa-android text-muted fa-2x"></i>
										</div>
									</div>
									<div class="media-body">
										<p>Android</p>
										<h3 class="media-heading" th:text="${myordershopandroid}"></h3>
										<!-- <p class="text-overflow">
											<small>- 2% <i
												class="fa fa-arrow-down text-red ml-1x"></i></small>
										</p> -->
									</div>
								</div>
								<!-- /.media -->
							</div>
							<!-- /.cols -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
				</div>
				<!-- /AUDIENCE OVERVIEW -->
			</div>
		</div>
		<!-- /.content -->
		<!-- DUMMY: Use for demo -->
		<script th:src="@{/resources/libs/demo/dashboard1-demo.js}"></script>
	</section>
	<!-- /MAIN -->
</body>
</html>