<script th:src="@{/resources/libs/jquery.validate.js}"></script>
<script th:src="@{/resources/libs/dropzone.min.js}"></script>
<div class="content-bar"
	th:attr="ng-init='page.set('+${page.number+1}+','+${page.size}+','+${page.totalElements}+')'">
	<!-- 	<div class="pull-right" role="group">
		<a data-toggle="modal" href="#"
			th:attr="data-scripts=@{/resources/assets/_includes/setups.js}"
			data-target="#templateSetup" title="Template Setups"
			aria-label="template setups"
			class="btn btn-nofill btn-sm btn-default"><span
			class="icon-settings fa-lg text-muted"></span></a>
	</div> -->
	<ul class="breadcrumb breadcrumb-angle">
		<li><a href="#" aria-label="home"><i class="fa fa-home"></i></a></li>
		<li><a href="#/">Categories</a></li>
		<li class="active" th:text="${category.name}"></li>
	</ul>
</div>
<!-- /.content-bar -->

<div class="content-body">
	<div class="row">
		<div class="col-md-12">
			<div class="panel" data-fill-color="true">
				<div class="panel-heading">
					<div class="panel-control pull-right">
						<a ng-click="isEditCategoryMode=!isEditCategoryMode"
							ng-init="isEditCategoryMode=true" class="btn btn-icon"><i
							class="icon-note"></i> Edit</a>
					</div>
					<h3 class="panel-title" th:text="${category.name}"></h3>
				</div>
				<!-- /panel-heading -->
				<div uib-collapse="isEditCategoryMode">
					<div class="panel-body">
						<div class="col-md-5">
							<form role="form" th:action="@{'products/xhr/categories/'+*{id}}"
								th:object="${category}" method="post" validate-form=""
								submit-handler="updateCategory">
								<input type="hidden" class="form-control" th:field="*{id}"
									required="required" />
								<div class="form-group">
									<label class="control-label" for="name">Name</label> <input
										type="text" class="form-control" th:field="*{name}"
										required="required" />
								</div>
								<!-- /.form-group -->
								<div class="form-group clearfix">
									<div class="pull-right">
										<!-- th:href="'#/'+${category.id}" -->
										<a ng-click="isEditCategoryMode=!isEditCategoryMode"
											ng-init="isEditCategoryMode=true" class="btn btn-default">Cancel</a>
										<button type="submit" class="btn btn-primary">Update</button>
									</div>
								</div>
								<!-- /.form-group -->
							</form>
							<!-- /form -->
						</div>
						<div class="col-md-3 col-md-offset-2">
							<form
								th:action="@{products/xhr/categories/{categoryId}/images(categoryId=${category.id})}"
								class="dropzone border-teal" dropzone="" method="post"
								enctype="multipart/form-data" maxFilesize="2"
								style="text-align: center;"
								th:attr="image-url=${category.image}?@{products/categories/{categoryId}/images(categoryId=${category.id})}"
								th:headers="'{\''+${_csrf!=null?_csrf.headerName:''}+'\':\''+${_csrf!=null?_csrf.token:''}+'\'}'"
								th:title="${category.name}">
								<div class="fallback">
									<input name="file" type="file" />
								</div>
								<div class="dz-message">
									<h3>Drop files here or click to upload.</h3>
								</div>
							</form>

						</div>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>S.No</th>
								<th>Name</th>
								<th>Sku</th>
								<th>Date</th>
							</tr>
						</thead>
						<tbody>
							<tr th:attr="ng-click='onClickProduct(\''+${category.id}+'\');'"
								th:each="category,rowState : ${page.content}">
								<td th:text="${pageable.offset+rowState.count}"></td>
								<td th:text="${category.name}"></td>
								<td
									th:text="${category.sku}!=null?${category.sku}:'Not Available'"></td>
								<td
									th:attr="ng-bind='formateDate(\''+${category.createTimestamp}+'\')'"></td>
							</tr>
						</tbody>
					</table>

					<div class="panel-footer">
						<div class="pull-left">
							<h5
								th:text="'showing '+${pageable.offset+1}+' to '+${pageable.offset+totalcount}+' of '+${page.totalElements}+' entries'"></h5>
						</div>
						<div align="right">
							<uib-pagination total-items="page.totalElements"
								ng-model="page.number" max-size="7" boundary-links="true"
								ng-change="page.pageChanged()"></uib-pagination>
						</div>
					</div>
				</div>
				<!-- /panel -->
			</div>
		</div>
	</div>
</div>
<script th:inline="javascript">
productApp.value("category",{
	"id":/*[[${category.id}]]*/,
	"name":/*[[${category.name}]]*/
});
</script>
