<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div tiles:fragment="title">Orders</div>
	<!-- ============================================
    MAIN CONTENT SECTION
    =============================================== -->
	<section class="content-wrapper" role="main" tiles:fragment="content"
		ng-app="app.orders">
		<toaster-container></toaster-container>
		<div class="content" ng-view=""></div>
		<!-- /.content -->
		<script
			th:src="@{/resources/libs/ui-bootstrap/ui-bootstrap-custom-tpls-1.1.2.min.js}"></script>
		<script th:src="@{/resources/libs/moment.js}"></script>
		<script th:src="@{/resources/libs/daterangepicker/daterangepicker.js}"></script>
		<script th:src="@{/resources/assets/scripts/orders/orders.js}"></script>
		<script th:src="@{/resources/libs/angular/angular-sanitize.min.js}"></script>
		<script th:src="@{/resources/libs/ui-select2/select.min.js}"
			type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" th:href="@{/resources/libs/daterangepicker/daterangepicker.css}"></link>
		<link rel="stylesheet"
			th:href="@{/resources/libs/ui-select2/select.min.css}"></link>
			
		<script th:inline="javascript">
  		 orderApp.constant("activeId",/*[[${activeId!=null?activeId:''}]]*/);
		</script>
	</section>
	<!-- /MAIN -->
</body>
</html>
