<div>
    <h1 class="box" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size:24px;margin:0;font-family:&quot;Montserrat&quot;, sans-serif;font-weight:500;line-height:34px;margin-top:20px;margin-bottom:20px;padding:0;font:normal normal normal 12px/16px &quot;Helvetica Neue&quot;,Roboto,&quot;Segoe UI&quot;,Calibri,sans-serif;text-decoration:none;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-transform:none;vertical-align:baseline;list-style:none;border:0;-webkit-outline:0;-moz-outline:0;-ms-outline:0;-o-outline:0;outline:0;">
        <span style="font-size:15px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;">Order No : </span>
        <span class="box-heading lable" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-bottom:3px solid #eeeeee;padding:0px 10px;font-family:&quot;Montserrat&quot;, sans-serif;font-size:14px;font-weight:bold;line-height:36px;color:#FFFFFF;background:#3abec0;height:36px;display:inline-block;">${order.orderNo}</span>
        <div style="float:right;width:80%;text-align:center;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;">
            <span style="font-size:15px;color:green;width:80%;text-align:center;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;">
                Order Forwared successfully</span>
        </div>
    </h1>
    <div class="checkout wrapper no-margin" style="-webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;">
        <div class="table-responsive" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-bottom:15px;border:1px solid #ddd;">
            <table class="table table-bordered table-hover head-strong" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-collapse:collapse;border-spacing:0;max-width:100%;background-color:#fff;width:100%;border:0;margin-bottom:0;">
                <thead style="-webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;"><tr style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-weight:600;">
                    <td class="text-center" style="width:25%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;padding:5px;line-height:1.428571429;vertical-align:top;background-color:rgb(247,247,239);border-bottom:1px solid #ddd;border:1px solid #ddd;border-bottom-width:2px;white-space:nowrap;">Product Name</td>
                    <td class="text-center" style="width:15%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;padding:5px;line-height:1.428571429;vertical-align:top;background-color:rgb(247,247,239);border-bottom:1px solid #ddd;border:1px solid #ddd;border-bottom-width:2px;white-space:nowrap;">Product Code</td>
                    <td class="text-center" style="width:10%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;padding:5px;line-height:1.428571429;vertical-align:top;background-color:rgb(247,247,239);border-bottom:1px solid #ddd;border:1px solid #ddd;border-bottom-width:2px;white-space:nowrap;">Melting</td>
                    <td class="text-center" style="width:10%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;padding:5px;line-height:1.428571429;vertical-align:top;background-color:rgb(247,247,239);border-bottom:1px solid #ddd;border:1px solid #ddd;border-bottom-width:2px;white-space:nowrap;">Seal</td>
                    <td class="text-center" style="width:10%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;padding:5px;line-height:1.428571429;vertical-align:top;background-color:rgb(247,247,239);border-bottom:1px solid #ddd;border:1px solid #ddd;border-bottom-width:2px;white-space:nowrap;">Measurement</td>
                    <td class="text-center" style="width:10%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;padding:5px;line-height:1.428571429;vertical-align:top;background-color:rgb(247,247,239);border-bottom:1px solid #ddd;border:1px solid #ddd;border-bottom-width:2px;white-space:nowrap;">Quantity</td>
                    </tr>
                </thead>
                <tbody style="-webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;">
                        <tr id="68188885-358e-466f-ba60-6c8065dc5178" class="68188885-358e-466f-ba60-6c8065dc5178" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
                            <td class="text-center" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;padding:5px;line-height:1.428571429;vertical-align:top;background-color:rgb(247,247,239);border-bottom:1px solid #ddd;border:1px solid #ddd;white-space:nowrap;">
                                <a href="${domain}/chains/v1/product/MRK-13003" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:#999999;text-decoration:none;cursor:pointer;">$order.wholesalerItem.product.name</a>
                            </td>
                            <td class="text-center" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;padding:5px;line-height:1.428571429;vertical-align:top;background-color:rgb(247,247,239);border-bottom:1px solid #ddd;border:1px solid #ddd;white-space:nowrap;">$order.wholesalerItem.product.sku</td>
                            <td class="text-center" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;padding:5px;line-height:1.428571429;vertical-align:top;background-color:rgb(247,247,239);border-bottom:1px solid #ddd;border:1px solid #ddd;white-space:nowrap;">$order.wholesalerItem.meltingAndSeal.melting</td>
                            <td class="text-center" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;padding:5px;line-height:1.428571429;vertical-align:top;background-color:rgb(247,247,239);border-bottom:1px solid #ddd;border:1px solid #ddd;white-space:nowrap;">$order.wholesalerItem.meltingAndSeal.seal</td>
                            #if($order.wholesalerItem.detail.length)
                                <td class="text-center" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;padding:5px;line-height:1.428571429;vertical-align:top;background-color:rgb(247,247,239);border-bottom:1px solid #ddd;border:1px solid #ddd;white-space:nowrap;">$order.wholesalerItem.detail.length<div style="display: block;
                                                margin-top: 5px;
                                                margin-bottom: 10px;
                                                color: #959595;">Length (Inch)</div></td>
                                #elseif($order.wholesalerItem.detail.size)
                                    <td class="text-center" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;padding:5px;line-height:1.428571429;vertical-align:top;background-color:rgb(247,247,239);border-bottom:1px solid #ddd;border:1px solid #ddd;white-space:nowrap;">$order.wholesalerItem.detail.size<div style="display: block;
                                                margin-top: 5px;
                                                margin-bottom: 10px;
                                                color: #959595;">Size</div></td>
                                    #else
                                        <td class="text-center" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;padding:5px;line-height:1.428571429;vertical-align:top;background-color:rgb(247,247,239);border-bottom:1px solid #ddd;border:1px solid #ddd;white-space:nowrap;">
                                            <div style="display: block;
                                                margin-top: 5px;
                                                margin-bottom: 10px;
                                                color: #959595;">Not Applicable</div>
                                        </td>
                            #end
                            <td class="text-center product-info" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;margin-bottom:20px;padding:5px;line-height:1.428571429;vertical-align:top;background-color:rgb(247,247,239);border-bottom:1px solid #ddd;border:1px solid #ddd;white-space:nowrap;">$order.wholesalerItem.detail.quantity</td>
                        </tr>
                </tbody>
                <tfoot style="-webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;"><tr style="-webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;">
                    <td class="text-left" style="padding:5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:left;line-height:1.428571429;vertical-align:top;background-color:rgb(247,247,239);border-bottom:1px solid #ddd;border:1px solid #ddd;white-space:nowrap;">
                        <strong style="text-decoration:underline;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-weight:bold;">Firm Name : </strong>
                        $order.address.title
                    </td>
                    <td colspan="5" class="text-right" style="vertical-align:top;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:right;padding:5px;line-height:1.428571429;background-color:rgb(247,247,239);border-bottom:1px solid #ddd;border:1px solid #ddd;white-space:nowrap;"> </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
