<!-- ============================================
    SIDEBAR SECTION
    =============================================== -->
<aside class="sidebar" role="complementary"
	th:with="baseUrl='/v1/admin/{url}'" id="sideBarApp">

	<!-- profile -->
	<div class="sidebar-block">
		<div class="media">
			<div class="media-left">
				<a href="#" onclick="return false;"> <span
					class="status" data-toggle="tooltip"
					data-container="body" title="available"></span> <img
					class="media-object img-circle"
					th:src="@{/resources/assets/images/logo/default.png}"
					alt="photo profile" />
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading">MRK Innoapps</h4>
				<p class="text-muted">
					<small>Administrator</small>
				</p>
			</div>
		</div>
	</div>
	<!-- /.sidebar-block -->
	<!-- /profile -->

	<!-- /navigation -->
	<div class="nav-wrapper" ng-controller="menuController">
		<ul class="nav nav-stacked" role="navigation">
			<li class="nav-item" role="presentation"
				ng-class="{'active':activeMenu=='dashboard'}"><a
				th:href="@{${baseUrl}(url=dashboard)}"> <span class="nav-icon"><i
						class="fa fa-dashcube"></i></span> <span class="nav-text">Dashboard</span>
			</a></li>

			<li class="divider"></li>
			<li class="nav-header" role="presentation">USERS</li>
			<li class="nav-item" role="presentation"
				ng-class="{'active':activeMenu=='users'}"><a
				th:href="@{${baseUrl}+'#/'(url=users)}"> <span class="nav-icon"><i
						class="fa fa-users"></i></span> <span class="nav-text">Users</span>
			</a></li>
			<li class="nav-item" role="presentation"
				ng-class="{'active':activeMenu=='newUser'}"><a
				th:href="@{${baseUrl}+'#/new-user'(url=users)}"> <span
					class="nav-icon"><i class="fa fa-user-plus"></i></span> <span
					class="nav-text">New User</span>
			</a></li>
			<li class="divider"></li>
			<li class="nav-header" role="presentation">ORDERS</li>
			  <li class="nav-item" role="presentation" ng-class="{'active':activeMenu=='orders'}">
			 <a th:href="@{${baseUrl}+'#/'(url=orders)}">
					<span class="nav-icon"><i class="fa fa-shopping-cart"></i></span> <span
					class="nav-text">Orders</span>
			</a></li> 
			
			
			  <li class="nav-item" role="presentation" ng-class="{'active':activeMenu=='wholesalerorders'}">
			 <a th:href="@{${baseUrl}+'#/'(url=wholesalerorders)}">
					<span class="nav-icon"><i class="fa fa-truck"></i></span> <span
					class="nav-text">Wholesaler Orders</span>
			</a></li> 
			
			<li class="divider"></li>
			<li class="nav-header" role="presentation">PRODUCTS</li>
			<li class="nav-item" role="presentation"
				ng-class="{'active':activeMenu=='products'}"><a
				th:href="@{${baseUrl}+'#/'(url=products)}"> <span
					class="nav-icon"><i class="fa fa-suitcase"></i></span> <span
					class="nav-text">Products</span>
			</a></li>
			<li class="nav-item" role="presentation"
				ng-class="{'active':activeMenu=='newProduct'}"><a
				th:href="@{${baseUrl}+'#/new'(url=products)}"> <span
					class="nav-icon"><i class="fa fa-suitcase fa fa-plus"></i></span> <span
					class="nav-text">New Product</span>
			</a></li>
			
			<li class="divider"></li>
			<li class="nav-header" role="presentation">DEVICES</li>
			<li class="nav-item" role="presentation"
				ng-class="{'active':activeMenu=='devices'}"><a
				th:href="@{${baseUrl}+'#/'(url=devices)}"> <span class="nav-icon"><i
						class="fa fa-anchor"></i></span> <span class="nav-text">Devices</span>
			</a></li>
			
			
			<!-- <li class="nav-item" role="presentation"><a href="#"
				data-toggle="nav-child"> <span class="nav-icon"><i
						class="fa fa-check-square"></i></span> <span class="nav-text">Forms</span>
			</a>
				<ul class="nav nav-child level-1 nav-stacked nav-pills" role="menu">
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="frm-basic.html"><span class="nav-text">Basic
								Elements</span></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="frm-advance.html"><span class="nav-text">Advance
								Elements</span></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="frm-uploader.html"><span class="nav-text">Uploader</span></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="frm-xeditable.html"><span class="nav-text">x-Editable</span></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="frm-wizard.html"><span class="nav-text">Wizard</span></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="frm-editor.html"><span class="nav-text">Editor</span></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="frm-imagecropping.html"><span class="nav-text">Image
								Cropping</span></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="frm-validator.html"><span class="nav-text">Validator</span></a></li>
				</ul></li>
			<li class="nav-item" role="presentation"><a href="#"
				data-toggle="nav-child"> <span class="nav-icon"><i
						class="fa fa-line-chart"></i></span> <span class="nav-text">Charts</span>
			</a>
				<ul class="nav nav-child level-1 nav-stacked nav-pills" role="menu">
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="chart-js.html"><span class="nav-text">ChartJs</span></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="chart-morris.html"><span class="nav-text">Morris</span></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="chart-inline.html"><span class="nav-text">Inline
								Charts</span></a></li>
				</ul></li>
			<li class="nav-item" role="presentation"><a href="#"
				data-toggle="nav-child"> <span class="nav-icon"><i
						class="fa fa-database"></i></span> <span class="nav-text">Tables</span>
			</a>
				<ul class="nav nav-child level-1 nav-stacked nav-pills" role="menu">
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="table-basic.html"><span class="nav-text">Basic
								Table</span></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="table-datatables.html"><span class="nav-text">DataTables</span></a></li>
				</ul></li>-->

			<!-- <li class="divider"></li>
			<li class="nav-header" role="presentation">DEVELOPMENT</li>
			<li class="nav-item" role="presentation"><a href="ui-kits.html">
					<span class="nav-icon"><i class="fa fa-cube"></i></span> <span
					class="nav-text">Widgets</span>
			</a></li>
			<li class="nav-item" role="presentation"><a href="#"
				data-toggle="nav-child"> <span class="nav-icon"><i
						class="fa fa-plug"></i></span> <span class="nav-text">Plugins</span>
			</a>
				<ul class="nav nav-child level-1 nav-stacked nav-pills" role="menu">
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="plugin-animate.html"><span class="nav-text">Animated</span></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="plugin-bootbox.html"><span class="nav-text">Bootbox</span></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="plugin-calendar.html"><span class="nav-text">Calendar</span></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="plugin-maps.html"><span class="nav-text">Maps</span></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="plugin-nestable.html"><span class="nav-text">Nestable
								List</span></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="plugin-session-timeout.html"><span class="nav-text">Session
								Timeout</span></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="plugin-toastr.html"><span class="nav-text">Toastr</span></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="plugin-treeview.html"><span class="nav-text">Tree
								View</span></a></li>
				</ul></li>
			<li class="nav-item" role="presentation"><a href="#"
				data-toggle="nav-child"> <span class="nav-icon"><i
						class="fa fa-file-text-o"></i></span> <span class="nav-text">Pages</span>
			</a>
				<ul class="nav nav-child level-1 nav-stacked nav-pills" role="menu">
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="page-signin.html"><span class="nav-text">Signin</span></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="page-locked.html"><span class="nav-text">Lock
								Screen</span></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="page-error.html"><span class="nav-text">Error
								Page</span></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="page-profile.html"><span class="nav-text">Profile</span></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="page-inbox.html"><span class="nav-text">Inbox</span></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="page-timeline.html"><span class="nav-text">Timeline</span></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="page-gallery.html"><span class="nav-text">Gallery</span></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="page-pricing.html"><span class="nav-text">Pricing</span></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="page-invoice.html"><span class="nav-text">Invoice</span></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="page-search.html"><span class="nav-text">Search
								Result</span></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="page-help.html"><span class="nav-text">Help</span></a></li>
				</ul></li>
			<li class="collapse-item" role="presentation"><a href="#"
				data-sidebar="toggleCollapse"> <i
					class="fa fa-angle-double-left"></i>
			</a></li> -->
		</ul>
	</div>
</aside>
<!-- /.SIDEBAR -->
<script type="text/javascript" th:inline="javascript">
	//<![CDATA[
	angular.module("app.menu", []).run([ "$rootScope", "$location", function($rootScope, $location) {
		$rootScope.activeMenu = {};
		var onChangeLocation = function(newUrl) {
			if (location.pathname.endsWith("dashboard")) {
				$rootScope.activeMenu = "dashboard";
			} else if (location.pathname.endsWith("users")) {
				$rootScope.activeMenu = "users";
				if (newUrl.match("new-user") && $rootScope.activeMenu != "newUser") {
					$rootScope.activeMenu = "newUser";
				}
			} else if (location.pathname.endsWith("products")) {
				$rootScope.activeMenu = "products";
				if (newUrl.match("new") && $rootScope.activeMenu != "newProduct") {
					$rootScope.activeMenu = "newProduct";
				}
			}else if (location.pathname.endsWith("devices")) {
				$rootScope.activeMenu = "devices";
			}
		}

		$rootScope.$on('$locationChangeStart', function(angularEvent, newUrl, oldUrl, newState, oldState) {
			console.log(newUrl, oldUrl)
			onChangeLocation(newUrl);
		});

	} ]).controller("menuController", [ "$scope", "$rootScope", "$location", function($scope, $rootScope, $location) {
	} ]);

	angular.bootstrap(document.getElementById("sideBarApp"), [ 'app.menu' ]);
	//]]>
</script>
