<script th:src="@{/resources/libs/jquery.validate.js}"></script>
<script th:src="@{/resources/libs/select2/js/select2.min.js}"
	type="text/javascript"></script>
<div class="col-md-12">
	<div class="content-hero-body">
		<div class="content-bar">
			<ul class="breadcrumb breadcrumb-angle">
				<li><a href="#" aria-label="home"><i class="fa fa-home"></i></a></li>
				<li><a href="#/">Users</a></li>
				<li ><a th:href="'#/users/'+${user.id}" th:text="${user.name}">Users</a></li>
				<li class="active" th:text="settings"></li>
			</ul>
		</div>
		<!-- /.content-bar -->
	</div>
	<div class="panel" data-context="dark" data-fill-color="true">
		<ul class="nav nav-tabs nav-contrast-teal" id="demo2-tabs">
			<li class="active"><a ng-click="showTab=1" data-toggle="tab">Password</a></li>
			<li><a ng-click="showTab=2" data-toggle="tab">Role</a></li>
			<li><a ng-click="showTab=3" data-toggle="tab">Status</a></li>
			<li><a ng-click="showTab=4" data-toggle="tab">Tokens</a></li>
		</ul>
		<div class="panel-body">
			<div class="tab-content" ng-init="showTab=1">
				<div class="tab-pane fade" ng-class="{'active in':showTab==1}"
					id="botabs3">
					<form class="form col-md-6" role="form"
						th:action="@{'users/xhr/'+*{id}+'/chngPass'}" th:object="${user}"
						method="post" validate-form="" submit-handler="updatePassword">

						<!-- /form-group -->

						<div class="form-group">
							<label for="passwd">Password:</label> <input type="password"
								class="form-control" id="passwd" name="password"
								placeholder="New Password" required="required" />
						</div>
						<div class="form-group">
							<label for="confirm_passwd">Confirm Password:</label> <input
								type="password" class="form-control" name="confirmPassword"
								id="confirm_passwd" equalto="#passwd"
								placeholder="Confirm Password" required="required" />
						</div>
						<!-- /form-group -->

						<div class="form-group pull-right">
							<button type="submit" class="btn btn-default">Submit</button>
						</div>
						<!-- /form-group -->
					</form>
					<!-- /form -->
				</div>
				<div class="tab-pane fade" id="botabs4"
					ng-class="{'active in':showTab==2}">
					<div class="panel" data-fill-color="true">
						<div class="panel-heading">
							<h3 class="panel-title">
								<i class="icon-speech fa-fw"></i> SelectRole
							</h3>
						</div>
						<div class="panel-body">
							<form role="form"  th:object="${user}"
								th:action="@{'users/xhr/'+*{id}+'/chngRole'}" method="post"
								validate-form="" submit-handler="updateRole">

								<div class="form-group">
									<label class="control-label" for="select2"></label> <select disabled="disabled"
										style="width: 100%" data-minimum-results-for-search="Infinity"
										data-input="select2" placeholder="Select your time zone"
										th:field="*{userRoles[0].id}" select2="" required="required">
										<option th:each="role : ${roles}" th:text="${role.name}"
											th:value="${role.id}"></option>
									</select>
									
									<small style="color: rgba(237, 121, 85, 0.38)">still in developing state do not use</small>
								</div>

								<!-- 	/form-group -->
								<input type="submit" class="btn submit btn-default pull-right"
									value="submit" />
							</form>
							<!-- /form -->
						</div>
						<!-- /panel-body -->
					</div>
				</div>

				<div class="tab-pane fade" id="botabs5"
					ng-class="{'active in':showTab==3}">
					<div class="panel" data-fill-color="true">
						<div class="panel-heading">
							<h3 class="panel-title">
								<i class="icon-speech fa-fw"></i> Select Status *
							</h3>
						</div>
						<div class="panel-body">
							<form role="form" th:object="${user}"
								th:action="@{'users/xhr/'+*{id}+'/chngSts'}" method="post"
								validate-form="" submit-handler="changeStatus">
								<div class="form-group">
									<label class="control-label" for="select2"></label> <select
										style="width: 100%" data-minimum-results-for-search="Infinity"
										data-input="select2" th:field="*{activeFlag}" select2=""
										required="required">
										<option th:each="status : ${statusList}" th:text="${status}"
											th:value="${status}"></option>
									</select>
								</div>

								<!-- 	/form-group -->
								<input type="submit" class="btn submit btn-default pull-right"
									value="submit" />
							</form>
							<!-- /form -->
							* <small>status is updated only when all Tokens of this user is Expired/Deleted.</small>
						</div>
						<!-- /panel-body -->
					</div>
				</div>
				<div class="tab-pane fade" id="botabs6"
					ng-class="{'active in':showTab==4}">
					<div class="panel" data-fill-color="true">
						<div class="panel-heading">
							<h3 class="panel-title">Tokens</h3>
						</div>
						<div class="panel-body" th:with="df=#{app.df.short}">
							<div class="table-responsive">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>S-no</th>
											<th>Token</th>
											<th>Time-Out</th>
											<th>Type</th>
											<th>CreatedOn</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="token,rowState : ${tokens}">
											<td th:text="${rowState.count}"></td>
											<td
												th:text="${token.token}!=null?${token.token}:'Not Available'"></td>
											<td
												th:text="${token.timeout}!=null?${token.timeout}:'Not Available'"></td>
											<td
												th:text="${token.type}!=null?${token.type}:'Not Available'"></td>
											<td
												th:text="${token.createTimestamp}!=null?${#dates.format(token.createTimestamp,df)}:'Not Available'"></td>
											<td><button
													th:attr="ng-click='deleteUserToken(\''+${token.id}+'\');'"
													class="btn btn-danger btn-xs">Delete</button></td>
										</tr>
									</tbody>

								</table>
							</div>
						</div>
						<!-- /panel-body -->
					</div>
				</div>

			</div>
			<!-- /tab-content -->
		</div>
		<!-- /panel-body -->
	</div>
	<!-- /.panel -->
</div>
<script th:inline="javascript">
	userApp.value("user",{
		userRole:/*[[${user.userRoles[0].role.value}]]*/,
		id:/*[[${user.id}]]*/,
		name:/*[[${user.name}]]*/,
		firmName:/*[[${user.firmName}]]*/,
		mobile:/*[[${user.mobile}]]*/,
	});
	
</script>
