<!-- <div class="panel-control pull-right"></div> -->
<div class="content-hero-body">
	<div class="content-hero-body">
		<div class="content-bar">
			<ul class="breadcrumb breadcrumb-angle">
				<li><a href="#" aria-label="home"><i class="fa fa-home"></i></a></li>
				<li><a href="#/">orders</a></li>
				<li class="active" th:text="${order.id}"></li>
				<li class="pull-right"><a
					th:href="'#/orders/'+${order.id}+'/edit'"><i class="icon-note"></i>
						Edit</a></li>
			</ul>
		</div>
		<!-- /.content-bar -->
	</div>
</div>
<div class="content-hero-bar" th:with="df=#{app.df.medium}">
	<div class="row">
		<div class="col-md-3">
			<div class="panel" data-fill-color="true" style="height: 268px">
				<img class="border-teal" style="text-align: center;"
					th:title="${order.ProductName}" width="252px" height="268px"
					th:src="${order.image}!=null?@{orders/{orderId}/images?activeId={{ activeId }}(orderId=${order.id})}:@{/resources/assets/images/dummy/defaultproduct.png}">
				</img>
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.cols -->
		<div class="col-md-9">
			<div class="panel content-body" data-fill-color="true"
				style="height: 268px;">
				<div class="row">
					<div class="col-md-12">
						<p class="text-center" style="margin-top: 32px;">
							<label>Order-No</label>
						</p>
						<h2
							class="display-name media-heading text-primary hidden-xs text-center"
							th:text="${order.orderNo}"></h2>
					</div>
				</div>
				<table class="table  table-bordered" style="margin-top: 25px;">
					<tbody>
						<tr>
							<td><label>Order-Date: </label>&nbsp;&nbsp;<strong
								th:text="${order.createTimestamp}!=null?${#dates.format(order.createTimestamp,df)}:'Not Available'"></strong></td>
							<td><label>Order-Status: </label>&nbsp;&nbsp;<strong
								th:text="${order.orderStatus}"
								th:classappend="#{'classes.'+${order.orderStatus}}"></strong></td>
							<td><label>Expected-Date: </label>&nbsp;&nbsp;<strong
								th:text="${order.expectedDate}!=null?${#dates.format(order.expectedDate,df)}"></strong></td>
						</tr>
						<tr>
							<td><table>
									<tbody>
										<tr><td>
											<label>Retailer: </label>&nbsp;&nbsp;
											<a th:href="'users#/users/'+${order.user.id}"><strong
												th:text="${order.user.name}"></strong></a>
										</td></tr>
										<tr><td>
											<label>Wholesaler: </label>&nbsp;&nbsp;
											<a th:href="'users#/users/'+${order.wholesaler.id}"><strong
												th:text="${order.wholesaler.name}"></strong></a>
										</td></tr>
									</tbody>
								</table></td>

							<td><label>Mobile-No: </label>&nbsp;&nbsp;<strong
								th:text="${order.user.mobile}"></strong></td>
							<td><label>Firm Name: </label>&nbsp;&nbsp;<strong
								th:text="${order.user.FirmName}"></strong></td>
						</tr>
					</tbody>
				</table>
				<!-- /.table -->
			</div>
		</div>
	</div>
</div>
<div class="panel" data-fill-color="true" style="height: 395px;">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-12">
				<p class="text-left" style="margin-top: 5px;">Details</p>
				<hr style="margin-top: 5px" />
				<form class="form-horizontal">
					<input type="hidden" id="productId"
						th:value="${order.item}!=null?${order.item.product.id}:'NotAvilable'"/>
					<div class="row">
						<div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<label
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 control-label no-padding-right">Product
								Name:</label>
							<div
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-control-static">
								<strong th:text="${order.item.product.name}"></strong>
							</div>
						</div>
						<div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-12">
							<label
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 control-label no-padding-right">Weight:</label>
							<div
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-control-static">
								<strong th:text="${order.item.detail.weight}"></strong>
							</div>
						</div>
						<div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-12">
							<label
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 control-label no-padding-right">Quantity:</label>
							<div
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-control-static">
								<strong th:text="${order.item.detail.quantity}"></strong>
							</div>
						</div>
						<div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-12">
							<label
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 control-label no-padding-right">Melting:</label>
							<div
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-control-static">
								<strong th:text="${order.item.meltingAndSeal.melting}"></strong>
							</div>
						</div>
						<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<label
								class="col-lg-4 col-md-4 col-sm-6 col-xs-6 control-label no-padding-right">Seal:</label>
							<div
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-control-static">
								<strong th:text="${order.item.meltingAndSeal.seal}"></strong>
							</div>
						</div>
					</div>
					<hr class="wide" style="margin: 0" />
					<div class="row">
						<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12"
							ng-show="measurments.indexOf('LENGTH')>=0">
							<label
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 control-label no-padding-right">Length:</label>
							<div
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-control-static">
								<strong th:text="${order.item.detail.length}"></strong>
							</div>
						</div>
						<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12"
							ng-show="measurments.indexOf('HUCK')>=0">
							<label
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 control-label no-padding-right">Huck:</label>
							<div
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-control-static">
								<strong th:text="${order.item.detail.huck}"></strong>
							</div>
						</div>
						<div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-12"
							ng-show="measurments.indexOf('SIZE')>=0">
							<label
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 control-label no-padding-right">Size:</label>
							<div
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-control-static">
								<strong th:text="${order.item.detail.size}"></strong>
							</div>
						</div>
						<div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<label
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 control-label no-padding-right">remarks:</label>
							<div
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-control-static">
								<strong th:text="${order.item.detail.remarks}"></strong>
							</div>
						</div>
					</div>
					<hr class="wide" style="margin: 0" />
					<div class="row">
						<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12"
							ng-show="measurments.indexOf('WEIGHT')>=0">
							<label
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 control-label no-padding-right">StoneWeight:</label>
							<div
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-control-static">
								<strong th:text="${order.item.detail.stoneWeight}"></strong>
							</div>
						</div>

						<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12"
							ng-show="measurments.indexOf('BACK_CHAIN')>=0">
							<label
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 control-label no-padding-right">backChain:</label>
							<div
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-control-static">
								<strong th:text="${order.item.detail.backChain}"></strong>
							</div>
						</div>
						<div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12"
							ng-show="measurments.indexOf('WITH_SCREW')>=0">
							<label
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 control-label no-padding-right">withScrew:</label>
							<div
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-control-static">
								<strong th:text="${order.item.detail.withScrew}"></strong>
							</div>
						</div>
						<div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-12"
							ng-show="measurments.indexOf('INITIAL')>=0">
							<label
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 control-label no-padding-right">initial:</label>
							<div
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-control-static">
								<strong th:text="${order.item.detail.initial}"></strong>
							</div>
						</div>
					</div>
					<div class="row">

						<div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12"
							ng-show="measurments.indexOf('SIZE_TYPE')>=0">
							<label
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 control-label no-padding-right">sizeType:</label>
							<div
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-control-static">
								<strong th:text="${order.item.detail.sizeType}"></strong>
							</div>
						</div>
						<div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-12"
							ng-show="measurments.indexOf('LINES')>=0">
							<label
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 control-label no-padding-right">lines:</label>
							<div
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-control-static">
								<strong th:text="${order.item.detail.lines}"></strong>
							</div>
						</div>
					</div>


					<div class="row" th:if="${order instanceof WholesalerInstantOrder}">
						<hr class="wide" style="margin: 0; margin-left: 15px;" width="97%" />
						<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-1">
							<label
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 control-label no-padding-right">RateCut:</label>

							<div
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-control-static">
								<strong th:text="${order.rateCut}"></strong>
							</div>
						</div>
						<div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-12">
							<label
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 control-label no-padding-right">Advance:</label>

							<div
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-control-static">
								<strong th:text="${order.advance}"></strong>
							</div>
						</div>
						<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<label
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 control-label no-padding-right">SampleFrom:</label>

							<div
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-control-static">
								<strong
									th:text="${order.sampleFrom}!=null?${order.sampleFrom.value}:' '"></strong>
							</div>
						</div>
						<div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<label
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 control-label no-padding-right">CustomerName:</label>

							<div
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-control-static">
								<strong th:text="${order.customerName}"></strong>
							</div>
						</div>

					</div>
					<div class="row "
						th:if="${order instanceof WholesalerInstantOrder}">
						<hr class="wide" style="margin: 0; margin-left: 15px;" width="97%" />
						<div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<label
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 control-label no-padding-right">CustomerMobile:</label>

							<div
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-control-static">
								<strong th:text="${order.customerMobile}"></strong>
							</div>
						</div>

						<div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<label
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 control-label no-padding-right">CustomerFirmName:</label>

							<div
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-control-static">
								<strong th:text="${order.customerFirmName}"></strong>
							</div>
						</div>

						<div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<label
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 control-label no-padding-right">SampleDescription:</label>

							<div
								class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-control-static">
								<strong th:text="${order.sampleDescription}"></strong>
							</div>
						</div>

					</div>

					<hr class="wide" style="margin: 0" />
					<div class="panel-group" id="accordion1">
						<div class="panel">
							<div class="panel-heading">
								<h3 class="panel-title">
									<label><a data-toggle="collapse"
										ng-click="isCollapsed=!isCollapsed"> Cancel this order</a></label>
								</h3>
							</div>
							<!-- /panel-heading -->
							<div class="panel-collapse collapse"
								ng-class="{'in':isCollapsed}">
								<div class="panel-body">
									<div class="col-sm-12">
										<form role="form">
											<div class="row">
												<div class="col-sm-12">
													<div class="form-group">
														<label>Why do you want to cancel the order<i
															class="fa fa-question darkorange"></i></label> <span
															class="input-icon icon-right"> <textarea
																class="form-control" rows="5">
																</textarea>
														</span>
													</div>
												</div>
											</div>
											<button type="submit" class="btn btn-danger">Cancel
												Order</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /panel -->
				</form>
			</div>
		</div>
	</div>
</div>
