<div class="well bordered-top bordered-bottom bordered-pink" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;min-height: 0;padding: 19px;margin-bottom: 30px;background-color: #57b5e3 ;border: 0;border-radius: 2px;-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);box-shadow: 0 0 3px rgba(0,0,0,.2);-webkit-border-radius: 2px;-webkit-background-clip: padding-box;-moz-border-radius: 2px;-moz-background-clip: padding;background-clip: padding-box;-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);color: #262626;position: relative;border-top: 5px solid #57b5e3;border-bottom: 5px solid #57b5e3;border-color: #57b5e3 !important;">
    <img src="http://www.myordershop.com/assets/img/logo.png" width="200"/>
   
   <div style="width:100%;margin-top: 20px;
    margin-bottom: 20px;" > 
	<div style="padding-top: 13px;
    width: 44%;
    float: left;">
	<div style="border-top: 2px solid #e5e5e5;"></div>
	</div>
	
	<div style="float: left;text-align:center;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    background: #57b5e3;
    width: 15%;"> Dear ${userName}!</div>
	
	<div style="padding-top: 13px;
    width: 38%;
    float: left;">
	<div style="border-top: 2px solid #e5e5e5;"></div>
	</div>
	
	</div>
	
   
	<div class="well well-lg" style="margin-top:65px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;min-height: 0;padding: 24px;margin-bottom: 30px;background-color: #fbfbfb;border: 0;border-radius: 6px;-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);box-shadow: 0 0 3px rgba(0,0,0,.2);-webkit-border-radius: 2px;-webkit-background-clip: padding-box;-moz-border-radius: 2px;-moz-background-clip: padding;background-clip: padding-box;-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);color: #262626;position: relative;">
       <p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;line-height: 22px;">
        Congratulations. You have been successfully Signed up with www.myordershop.com. 
        
    </p>
    <p>Your  user login details are as mentioned  below,<table><tr><td>
Username:</td><td><b>${email} / ${mobile}</b></td></tr><tr><td>
Password:</td><td> <b>${password}</b></td></tr></table> </p>
<p>Note: Please change the password once you login. </p>
 
  <table><tr><td>
  <a href="https://play.google.com/store/apps/details?id=com.mrkinnoapps.myordershopandroid&hl=en">
<img src="http://lh3.googleusercontent.com/fhR9eIkBWnbDZJQXRGRbRndG9b80ZwxzjL19DBqddH4AAZS-y3huZy7w10bk8WxB1JI=w200" width= "150"></a></td><td></td><td>
<a href="https://itunes.apple.com/in/app/my-order-shop/id1046219274">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/Available_on_the_App_Store_%28black%29_SVG.svg/135px-Available_on_the_App_Store_%28black%29_SVG.svg.png" width= "130" height="40" ></a></td>
    </tr></table></div>
									
									
									   <div style="width:100%;margin-top: 20px;
    margin-bottom: 20px;" > 
	<div style="padding-top: 13px;
    width: 40%;
    float: left;">
	<div style="border-top: 2px solid #e5e5e5;"></div>
	</div>
	
	<div style="float: left;text-align:center;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    background: #57b5e3;
    width: 22%;"> Happy Ordering!</div>
	
	<div style="padding-top: 13px;
    width: 36%;
    float: left;">
	<div style="border-top: 2px solid #e5e5e5;"></div>
	</div>
	
	</div>
	
	
		<div style="padding-top: 20px;">
	
   
	
	<p style="color:#fff;text-align:center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;line-height: 22px;">

       &copy; ${currentYear} MRK InnoApps Pvt Ltd | All Rights Reserved <br/>
	   <a style="color:#fff;" href="#">Privacy Policy</a>
		
    </p>
	</div>
</div>