<div class="well bordered-top bordered-bottom bordered-pink" style="text-align:center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;min-height: 0;padding: 19px;margin-bottom: 30px;background-color: #57b5e3 ;border: 0;border-radius: 2px;-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);box-shadow: 0 0 3px rgba(0,0,0,.2);-webkit-border-radius: 2px;-webkit-background-clip: padding-box;-moz-border-radius: 2px;-moz-background-clip: padding;background-clip: padding-box;-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);color: #262626;position: relative;border-top: 5px solid #57b5e3;border-bottom: 5px solid #57b5e3;border-color: #57b5e3 !important;">
    <img src="http://www.myordershop.com/assets/img/logo.png" width="200"/>
   
   <div style="width:100%;margin-top: 20px;
    margin-bottom: 20px;" > 
	<div style="padding-top: 13px;
    width: 44%;
    float: left;">
	<div style="border-top: 2px solid #e5e5e5;"></div>
	</div>
	
	<div style="float: left;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    background: #57b5e3;
    width: 15%;"> Hi ${userName}!</div>
	
	<div style="padding-top: 13px;
    width: 38%;
    float: left;">
	<div style="border-top: 2px solid #e5e5e5;"></div>
	</div>
	
	</div>
	
   
	<div class="well well-lg" style="margin-top:65px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;min-height: 0;padding: 24px;margin-bottom: 30px;background-color: #fbfbfb;border: 0;border-radius: 6px;-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);box-shadow: 0 0 3px rgba(0,0,0,.2);-webkit-border-radius: 2px;-webkit-background-clip: padding-box;-moz-border-radius: 2px;-moz-background-clip: padding;background-clip: padding-box;-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);color: #262626;position: relative;">
		#set (${myordershopios} = "myordershopios")
		#set (${myordershopweb} = "myordershopweb")
		#set (${myordershopandroid} = "myordershopandroid")
	   <p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;line-height: 22px;">
        Your Account has been login attempted with 
		#set (${successAttemp} = "SUCCESS")
		#set (${failureAttemp} = "FAILUR")
		#if( ${history.attempt} == ${successAttemp} )
			Success
		#elseif( ${history.attempt} == ${failureAttemp} )
			Failure
		#end 
		by 
		#if( ${history.clientId} == "myordershopios")
			<a href="https://itunes.apple.com/in/app/my-order-shop/id1046219274">MyOrderShop IOS App </a>
		#elseif( ${history.clientId} == "myordershopweb" )
			<a href="http://www.myordershop.com">MyOrderShop.com</a>
		#elseif( ${history.clientId} == "myordershopandroid" )
			<a href="https://play.google.com/store/apps/details?id=com.mrkinnoapps.myordershopandroid">MyOrderShop Android App</a>
		#end
		</p>
		 <p>at </p>
		 <p><span >$date.format('EEE, MMM d, yyyy', $history.createTimestamp) at $date.format('hh:mm a', $history.createTimestamp)</span>
          </p>
		 
		  <p>City : ${history.location.city}</p>
		  <p>Country : ${history.location.country}</p>
		   <p>Ip Address : ${history.ip}</p>
		   <p>OS : ${history.os}</p>
		  <p>Application : ${history.browser}</p>
		 
                                    </div>
									
									
									   <div style="width:100%;margin-top: 20px;
    margin-bottom: 20px;" > 
	<div style="padding-top: 13px;
    width: 40%;
    float: left;">
	<div style="border-top: 2px solid #e5e5e5;"></div>
	</div>
	
	<div style="float: left;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    background: #57b5e3;
    width: 22%;"> Happy Ordering!</div>
	
	<div style="padding-top: 13px;
    width: 36%;
    float: left;">
	<div style="border-top: 2px solid #e5e5e5;"></div>
	</div>
	
	</div>
	
	
		<div style="padding-top: 20px;">
    <p style="color:#fff;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;
box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;line-height: 22px;">
        
    </p>
	
	<p style="color:#fff;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;line-height: 22px;">
       &copy; ${currentYear} MRK InnoApps Pvt Ltd | All Rights Reserved <br/>
	   <a style="color:#fff;" href="http://www.myordershop.com/ous_index.html#/app/privacy">Privacy Policy</a>
		
    </p>
	</div>
</div>