<li>
  <span class="pw pw-clickandbuy" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-clickandbuy</span>
</li>

<li>
  <span class="pw pw-westernunion" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-westernunion</span>
</li>

<li>
  <span class="pw pw-braintree" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-braintree</span>
</li>

<li>
  <span class="pw pw-paysafecard" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-paysafecard</span>
</li>

<li>
  <span class="pw pw-ideal" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-ideal</span>
</li>

<li>
  <span class="pw pw-paypal-new" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-paypal-new</span>
</li>

<li>
  <span class="pw pw-skrill" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-skrill</span>
</li>

<li>
  <span class="pw pw-gittip" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-gittip</span>
</li>

<li>
  <span class="pw pw-flattr" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-flattr</span>
</li>

<li>
  <span class="pw pw-cb" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-cb</span>
</li>

<li>
  <span class="pw pw-bitcoin" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-bitcoin</span>
</li>

<li>
  <span class="pw pw-bitcoin-sign" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-bitcoin-sign</span>
</li>

<li>
  <span class="pw pw-ripple" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-ripple</span>
</li>

<li>
  <span class="pw pw-sofort" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-sofort</span>
</li>

<li>
  <span class="pw pw-diners" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-diners</span>
</li>

<li>
  <span class="pw pw-mastercard" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-mastercard</span>
</li>

<li>
  <span class="pw pw-trust-e" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-trust-e</span>
</li>

<li>
  <span class="pw pw-amazon" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-amazon</span>
</li>

<li>
  <span class="pw pw-jcb" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-jcb</span>
</li>

<li>
  <span class="pw pw-google-wallet" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-google-wallet</span>
</li>

<li>
  <span class="pw pw-stripe" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-stripe</span>
</li>

<li>
  <span class="pw pw-square" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-square</span>
</li>

<li>
  <span class="pw pw-ogone" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-ogone</span>
</li>

<li>
  <span class="pw pw-verisign" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-verisign</span>
</li>

<li>
  <span class="pw pw-discover" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-discover</span>
</li>

<li>
  <span class="pw pw-american-express" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-american-express</span>
</li>

<li>
  <span class="pw pw-paypal" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-paypal</span>
</li>

<li>
  <span class="pw pw-maestro" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-maestro</span>
</li>

<li>
  <span class="pw pw-visa" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-visa</span>
</li>

<li>
  <span class="pw pw-visa-electron" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-visa-electron</span>
</li>

<li>
  <span class="pw pw-postepay" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-postepay</span>
</li>

<li>
  <span class="pw pw-cartasi" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-cartasi</span>
</li>

<li>
  <span class="pw pw-unionpay" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-unionpay</span>
</li>

<li>
  <span class="pw pw-ec" aria-hidden="true"></span>
  <span class="icon--class">.pw .pw-ec</span>
</li>