
<div class="modal-header">
  <h4 class="modal-title"><i class="fa fa-fw fa-cogs"></i> Template Setups</h4>
</div>
<div class="modal-body">
  <div class="setup-wrapper">
    <ul class="nav nav-tabs nav-light nav-contrast-teal" role="tablist">
      <li class="active"><a href="#setupSkins" role="tab" data-toggle="tab">Skins</a></li>
      <li><a href="#setupLayout" role="tab" data-toggle="tab">Layout</a></li>
      <li><a href="#setupHeader" role="tab" data-toggle="tab">Header</a></li>
      <li><a href="#setupSidebar" role="tab" data-toggle="tab">Sidebar</a></li>
      <li><a href="#setupContent" role="tab" data-toggle="tab">Content</a></li>
      <li><a href="#setupFooter" role="tab" data-toggle="tab">Footer</a></li>
    </ul>
    <div class="tab-content p-2x">
      <div class="tab-pane fade in active" id="setupSkins">
        <div class="sample-themes">
          <h5>Sample</h5>
          <ul class="color-lists">
            <!-- default header -->
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="default dark" data-context="teal" rel="tooltip" title="#1">
                <span class="color-left bg-white"></span>
                <span class="color-right bg-dark"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="default default" data-context="red" rel="tooltip" title="#2">
                <span class="color-left bg-white"></span>
                <span class="color-right bg-white"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="default light" data-context="red" rel="tooltip" title="#3">
                <span class="color-left bg-white"></span>
                <span class="color-right bg-light"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="default red" data-context="light" rel="tooltip" title="#4">
                <span class="color-left bg-white"></span>
                <span class="color-right bg-red"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="default orange" data-context="yellow" rel="tooltip" title="#5">
                <span class="color-left bg-white"></span>
                <span class="color-right bg-orange"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="default yellow" data-context="red" rel="tooltip" title="#6">
                <span class="color-left bg-white"></span>
                <span class="color-right bg-yellow"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="default green" data-context="dark" rel="tooltip" title="#7">
                <span class="color-left bg-white"></span>
                <span class="color-right bg-green"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="default teal" data-context="dark" rel="tooltip" title="#8">
                <span class="color-left bg-white"></span>
                <span class="color-right bg-teal"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="default cyan" data-context="dark" rel="tooltip" title="#9">
                <span class="color-left bg-white"></span>
                <span class="color-right bg-cyan"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="default blue" data-context="light" rel="tooltip" title="#10">
                <span class="color-left bg-white"></span>
                <span class="color-right bg-blue"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="default violet" data-context="light" rel="tooltip" title="#11">
                <span class="color-left bg-white"></span>
                <span class="color-right bg-violet"></span>
              </a>
            </li>

            <!-- inverse header -->
            <br>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="inverse dark" data-context="red" rel="tooltip" title="#12">
                <span class="color-left bg-dark"></span>
                <span class="color-right bg-dark"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="inverse default" data-context="red" rel="tooltip" title="#13">
                <span class="color-left bg-dark"></span>
                <span class="color-right bg-white"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="inverse light" data-context="red" rel="tooltip" title="#14">
                <span class="color-left bg-dark"></span>
                <span class="color-right bg-light"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="inverse red" data-context="light" rel="tooltip" title="#15">
                <span class="color-left bg-dark"></span>
                <span class="color-right bg-red"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="inverse orange" data-context="yellow" rel="tooltip" title="#16">
                <span class="color-left bg-dark"></span>
                <span class="color-right bg-orange"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="inverse yellow" data-context="red" rel="tooltip" title="#17">
                <span class="color-left bg-dark"></span>
                <span class="color-right bg-yellow"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="inverse green" data-context="dark" rel="tooltip" title="#18">
                <span class="color-left bg-dark"></span>
                <span class="color-right bg-green"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="inverse teal" data-context="dark" rel="tooltip" title="#19">
                <span class="color-left bg-dark"></span>
                <span class="color-right bg-teal"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="inverse cyan" data-context="dark" rel="tooltip" title="#20">
                <span class="color-left bg-dark"></span>
                <span class="color-right bg-cyan"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="inverse blue" data-context="light" rel="tooltip" title="#21">
                <span class="color-left bg-dark"></span>
                <span class="color-right bg-blue"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="inverse violet" data-context="light" rel="tooltip" title="#22">
                <span class="color-left bg-dark"></span>
                <span class="color-right bg-violet"></span>
              </a>
            </li>

            <!-- colorful -->
            <br>
            <li>
              <p class="text-muted"><small><strong>Colorful</strong></small></p>
            </li>
            <br>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="red dark" data-context="red" rel="tooltip" title="#1">
                <span class="color-left bg-red"></span>
                <span class="color-right bg-dark"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="blue cyan" data-context="red" rel="tooltip" title="#2">
                <span class="color-left bg-blue"></span>
                <span class="color-right bg-cyan"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="teal light" data-context="teal" rel="tooltip" title="#3">
                <span class="color-left bg-teal"></span>
                <span class="color-right bg-light"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="orange teal" data-context="orange" rel="tooltip" title="#4">
                <span class="color-left bg-orange"></span>
                <span class="color-right bg-teal"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="light dark" data-context="yellow" rel="tooltip" title="#5">
                <span class="color-left bg-light"></span>
                <span class="color-right bg-dark"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="cyan dark" data-context="cyan" rel="tooltip" title="#6">
                <span class="color-left bg-cyan"></span>
                <span class="color-right bg-dark"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="light violet" data-context="light" rel="tooltip" title="#7">
                <span class="color-left bg-light"></span>
                <span class="color-right bg-violet"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="blue default" data-context="blue" rel="tooltip" title="#8">
                <span class="color-left bg-blue"></span>
                <span class="color-right bg-white"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="yellow blue" data-context="yellow" rel="tooltip" title="#9">
                <span class="color-left bg-yellow"></span>
                <span class="color-right bg-blue"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="blue dark" data-context="blue" rel="tooltip" title="#10">
                <span class="color-left bg-blue"></span>
                <span class="color-right bg-dark"></span>
              </a>
            </li>
            <li>
              <a href="#" class="color-mixed" data-toggle="sampleSkins" data-skin="teal dark" data-context="teal" rel="tooltip" title="#11">
                <span class="color-left bg-teal"></span>
                <span class="color-right bg-dark"></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="custom-skin">
          <hr>
          <div class="pull-right">
            <input id="skins-custom" type="checkbox" class="js-switch-setup" data-class-name="switchery switchery-alt" data-color="#48CFAD">
          </div>
          <h5>Custom Skins <br> <small>Combine available color schemes and get your own styles</small></h5>
        </div><!-- /custom-skin -->
        <div id="component-skin-group" class="collapse" style="overflow:hidden;margin:-4px 0 0">
          <h5>Header</h5>
          <ul class="color-lists">
            <li><a href="#" class="bg-white" data-setup-header="toggleSkin" data-skin="default" rel="tooltip" title="default"></a></li>
            <li><a href="#" class="bg-dark" data-setup-header="toggleSkin" data-skin="inverse" rel="tooltip" title="inverse/dark"></a></li>
            <li><a href="#" class="bg-light" data-setup-header="toggleSkin" data-skin="light" rel="tooltip" title="light"></a></li>
            <li><a href="#" class="bg-red" data-setup-header="toggleSkin" data-skin="red" rel="tooltip" title="red"></a></li>
            <li><a href="#" class="bg-orange" data-setup-header="toggleSkin" data-skin="orange" rel="tooltip" title="orange"></a></li>
            <li><a href="#" class="bg-yellow" data-setup-header="toggleSkin" data-skin="yellow" rel="tooltip" title="yellow"></a></li>
            <li><a href="#" class="bg-green" data-setup-header="toggleSkin" data-skin="green" rel="tooltip" title="green"></a></li>
            <li><a href="#" class="bg-teal" data-setup-header="toggleSkin" data-skin="teal" rel="tooltip" title="teal"></a></li>
            <li><a href="#" class="bg-cyan" data-setup-header="toggleSkin" data-skin="cyan" rel="tooltip" title="cyan"></a></li>
            <li><a href="#" class="bg-blue" data-setup-header="toggleSkin" data-skin="blue" rel="tooltip" title="blue"></a></li>
            <li><a href="#" class="bg-violet" data-setup-header="toggleSkin" data-skin="violet" rel="tooltip" title="violet"></a></li>
          </ul>

          <h5>Sidebar</h5>
          <ul class="color-lists">
            <li><a href="#" class="bg-white" data-setup-sidebar="toggleSkin" data-skin="default" rel="tooltip" title="default"></a></li>
            <li><a href="#" class="bg-dark" data-setup-sidebar="toggleSkin" data-skin="dark" rel="tooltip" title="dark"></a></li>
            <li><a href="#" class="bg-light" data-setup-sidebar="toggleSkin" data-skin="light" rel="tooltip" title="light"></a></li>
            <li><a href="#" class="bg-red" data-setup-sidebar="toggleSkin" data-skin="red" rel="tooltip" title="red"></a></li>
            <li><a href="#" class="bg-orange" data-setup-sidebar="toggleSkin" data-skin="orange" rel="tooltip" title="orange"></a></li>
            <li><a href="#" class="bg-yellow" data-setup-sidebar="toggleSkin" data-skin="yellow" rel="tooltip" title="yellow"></a></li>
            <li><a href="#" class="bg-green" data-setup-sidebar="toggleSkin" data-skin="green" rel="tooltip" title="green"></a></li>
            <li><a href="#" class="bg-teal" data-setup-sidebar="toggleSkin" data-skin="teal" rel="tooltip" title="teal"></a></li>
            <li><a href="#" class="bg-cyan" data-setup-sidebar="toggleSkin" data-skin="cyan" rel="tooltip" title="cyan"></a></li>
            <li><a href="#" class="bg-blue" data-setup-sidebar="toggleSkin" data-skin="blue" rel="tooltip" title="blue"></a></li>
            <li><a href="#" class="bg-violet" data-setup-sidebar="toggleSkin" data-skin="violet" rel="tooltip" title="violet"></a></li>
          </ul>

          <h5>Footer</h5>
          <ul class="color-lists">
            <li><a href="#" class="bg-white" data-setup-footer="toggleSkin" data-skin="default" rel="tooltip" title="default"></a></li>
            <li><a href="#" class="bg-dark" data-setup-footer="toggleSkin" data-skin="inverse" rel="tooltip" title="inverse/dark"></a></li>
            <li><a href="#" class="bg-light" data-setup-footer="toggleSkin" data-skin="light" rel="tooltip" title="light"></a></li>
            <li><a href="#" class="bg-red" data-setup-footer="toggleSkin" data-skin="red" rel="tooltip" title="red"></a></li>
            <li><a href="#" class="bg-orange" data-setup-footer="toggleSkin" data-skin="orange" rel="tooltip" title="orange"></a></li>
            <li><a href="#" class="bg-yellow" data-setup-footer="toggleSkin" data-skin="yellow" rel="tooltip" title="yellow"></a></li>
            <li><a href="#" class="bg-green" data-setup-footer="toggleSkin" data-skin="green" rel="tooltip" title="green"></a></li>
            <li><a href="#" class="bg-teal" data-setup-footer="toggleSkin" data-skin="teal" rel="tooltip" title="teal"></a></li>
            <li><a href="#" class="bg-cyan" data-setup-footer="toggleSkin" data-skin="cyan" rel="tooltip" title="cyan"></a></li>
            <li><a href="#" class="bg-blue" data-setup-footer="toggleSkin" data-skin="blue" rel="tooltip" title="blue"></a></li>
            <li><a href="#" class="bg-violet" data-setup-footer="toggleSkin" data-skin="violet" rel="tooltip" title="violet"></a></li>
          </ul>
        </div><!-- /#component-skins -->
        <div class="sidebar-variant">
          <hr>
          <div class="pull-right">
            <div class="btn-group btn-group-sm" data-toggle="buttons">
              <label class="btn btn-default" data-setup-sidebar="toggleVariant" data-variant="tabs">
                <input type="radio"> Tabs
              </label>
              <label class="btn btn-default" data-setup-sidebar="toggleVariant" data-variant="pills">
                <input type="radio"> Pills
              </label>
            </div>
          </div>
          <h5>Sidebar Variants</h5>
        </div><!-- /.sidebar-variant -->
        <div class="sidebar-context">
          <hr>
          <h5>Sidebar Contexts</h5>
          <ul class="color-lists">
            <li><a href="#" class="bg-dark" data-setup-sidebar="toggleContext" data-context="dark" rel="tooltip" title="dark"></a></li>
            <li><a href="#" class="bg-light" data-setup-sidebar="toggleContext" data-context="light" rel="tooltip" title="light"></a></li>
            <li><a href="#" class="bg-red" data-setup-sidebar="toggleContext" data-context="red" rel="tooltip" title="red"></a></li>
            <li><a href="#" class="bg-orange" data-setup-sidebar="toggleContext" data-context="orange" rel="tooltip" title="orange"></a></li>
            <li><a href="#" class="bg-yellow" data-setup-sidebar="toggleContext" data-context="yellow" rel="tooltip" title="yellow"></a></li>
            <li><a href="#" class="bg-green" data-setup-sidebar="toggleContext" data-context="green" rel="tooltip" title="green"></a></li>
            <li><a href="#" class="bg-teal" data-setup-sidebar="toggleContext" data-context="teal" rel="tooltip" title="teal"></a></li>
            <li><a href="#" class="bg-cyan" data-setup-sidebar="toggleContext" data-context="cyan" rel="tooltip" title="cyan"></a></li>
            <li><a href="#" class="bg-blue" data-setup-sidebar="toggleContext" data-context="blue" rel="tooltip" title="blue"></a></li>
            <li><a href="#" class="bg-violet" data-setup-sidebar="toggleContext" data-context="violet" rel="tooltip" title="violet"></a></li>
          </ul>
        </div><!-- /.sidebar-context -->
      </div><!-- /#setupSkins -->

      <div class="tab-pane fade" id="setupLayout">
        <div class="layout-fs">
          <div class="pull-right">
            <input id="layout-fs" type="checkbox" class="js-switch-setup" data-class-name="switchery switchery-alt" data-color="#48CFAD">
          </div>
          <h5>Fullscreen</h5>
        </div>
        <div class="layout-box">
          <hr>
          <div class="pull-right">
            <input id="layout-box" type="checkbox" class="js-switch-setup" data-class-name="switchery switchery-alt" data-color="#48CFAD">
          </div>
          <h5>Box Mode</h5>
        </div>
        <div class="layout-bg">
          <hr>
          <div class="pull-right">
            <a href="#" id="layout-bg" class="btn btn-default btn-sm" data-toggle="tooltip" title="Randomize background color"><i class="icon-reload"></i> Randomize</a>
          </div>
          <h5>Background Color</h5>
        </div>
      </div><!-- /#setupLayout -->


      <div class="tab-pane fade" id="setupHeader">
        <div class="header-rtl">
          <div class="pull-right">
            <input id="header-rtl" type="checkbox" class="js-switch-setup" data-class-name="switchery switchery-alt" data-color="#48CFAD">
          </div>
          <h5>RTL Mode</h5>
        </div>
        <div class="header-fixed">
          <hr>
          <div class="pull-right">
            <input id="header-fixed" type="checkbox" class="js-switch-setup" data-class-name="switchery switchery-alt" data-color="#48CFAD">
          </div>
          <h5>Fixed</h5>
        </div>
      </div><!-- /#setupHeader -->

      <div class="tab-pane fade" id="setupSidebar">
        <div class="sidebar-visible">
          <div class="pull-right">
            <a href="#" class="btn btn-default btn-sm" data-setup-sidebar="toggleVisible">Toggle</a>
          </div>
          <h5>Visible</h5>
        </div>
        <div class="sidebar-mode">
          <hr>
          <div class="pull-right">
            <div class="btn-group btn-group-sm" data-toggle="buttons">
              <label class="btn btn-default" data-setup-sidebar="toggleMode" data-mode="vertical">
                <input type="radio"> Vertical
              </label>
              <label class="btn btn-default" data-setup-sidebar="toggleMode" data-mode="horizontal">
                <input type="radio"> Horizontal
              </label>
            </div>
          </div>
          <h5>Mode</h5>
        </div>
        <div class="sidebar-size">
          <hr>
          <div class="pull-right">
            <div class="btn-group btn-group-sm" data-toggle="buttons">
              <label class="btn btn-default" data-setup-sidebar="toggleSize" data-size="sm">
                <input type="radio"> Small
              </label>
              <label class="btn btn-default" data-setup-sidebar="toggleSize" data-size="lg">
                <input type="radio"> Large
              </label>
            </div>
          </div>
          <h5>Size</h5>
        </div>
        <div class="sidebar-align">
          <hr>
          <div class="pull-right">
            <input id="sidebar-align" type="checkbox" class="js-switch-setup" data-class-name="switchery switchery-alt" data-color="#48CFAD">
          </div>
          <h5>Right Align</h5>
        </div>
        <div class="sidebar-rtl">
          <hr>
          <div class="pull-right">
            <input id="sidebar-rtl" type="checkbox" class="js-switch-setup" data-class-name="switchery switchery-alt" data-color="#48CFAD">
          </div>
          <h5>RTL Mode</h5>
        </div>
        <div class="sidebar-fixed">
          <hr>
          <div class="pull-right">
            <input id="sidebar-fixed" type="checkbox" class="js-switch-setup" data-class-name="switchery switchery-alt" data-color="#48CFAD">
          </div>
          <h5>Fixed</h5>
        </div>
        <div class="sidebar-resizable">
          <hr>
          <div class="pull-right">
            <input id="sidebar-resizable" type="checkbox" class="js-switch-setup" data-class-name="switchery switchery-alt" data-color="#48CFAD">
          </div>
          <h5>Live Resizable</h5>
        </div>
        <div class="sidebar-loader">
          <hr>
          <div class="pull-right">
            <a href="#" class="btn btn-default btn-sm" data-setup-sidebar="toggleLoader">Try Loader</a>
          </div>
          <h5>Loader</h5>
        </div>
      </div><!-- /#setupSidebar -->

      <div class="tab-pane fade" id="setupContent">
        <div class="content-rtl">
          <div class="pull-right">
            <input id="content-rtl" type="checkbox" class="js-switch-setup" data-class-name="switchery switchery-alt" data-color="#48CFAD">
          </div>
          <h5>RTL Mode</h5>
        </div>
      </div><!-- /#setupContent -->

      <div class="tab-pane fade" id="setupFooter">
        <div class="footer-rtl">
          <div class="pull-right">
            <input id="footer-rtl" type="checkbox" class="js-switch-setup" data-class-name="switchery switchery-alt" data-color="#48CFAD">
          </div>
          <h5>RTL Mode</h5>
        </div>
      </div><!-- /#setupFooter -->
    </div>
  </div>
</div><!-- .modal-body -->

<div class="modal-footer">
  <div class="pull-right">
    <button type="button" class="btn btn-nofill btn-default" data-dismiss="modal">Close</button>
    <button id="savesSetups" type="button" class="btn btn-nofill btn-primary">Save Setups</button>
  </div>
  <div class="pull-left">
    <button id="restoreSetups" type="button" class="btn btn-nofill btn-default"><i class="fa fa-fw fa-undo"></i> Restore <span class="hidden-xxs">to Default</span></button>
  </div>
</div>