<li>
  <span class="icon-user" aria-hidden="true"></span>
  <span class="icon--class">.icon-user</span>
</li>
<li>
  <span class="icon-people" aria-hidden="true"></span>
  <span class="icon--class">.icon-people</span>
</li>
<li>
  <span class="icon-user-female" aria-hidden="true"></span>
  <span class="icon--class">.icon-user-female</span>
</li>
<li>
  <span class="icon-user-follow" aria-hidden="true"></span>
  <span class="icon--class">.icon-user-follow</span>
</li>
<li>
  <span class="icon-user-following" aria-hidden="true"></span>
  <span class="icon--class">.icon-user-following</span>
</li>
<li>
  <span class="icon-user-unfollow" aria-hidden="true"></span>
  <span class="icon--class">.icon-user-unfollow</span>
</li>
<li>
  <span class="icon-login" aria-hidden="true"></span>
  <span class="icon--class">.icon-login</span>
</li>
<li>
  <span class="icon-logout" aria-hidden="true"></span>
  <span class="icon--class">.icon-logout</span>
</li>
<li>
  <span class="icon-emotsmile" aria-hidden="true"></span>
  <span class="icon--class">.icon-emotsmile</span>
</li>
<li>
  <span class="icon-phone" aria-hidden="true"></span>
  <span class="icon--class">.icon-phone</span>
</li>
<li>
  <span class="icon-call-end" aria-hidden="true"></span>
  <span class="icon--class">.icon-call-end</span>
</li>
<li>
  <span class="icon-call-in" aria-hidden="true"></span>
  <span class="icon--class">.icon-call-in</span>
</li>
<li>
  <span class="icon-call-out" aria-hidden="true"></span>
  <span class="icon--class">.icon-call-out</span>
</li>
<li>
  <span class="icon-map" aria-hidden="true"></span>
  <span class="icon--class">.icon-map</span>
</li>
<li>
  <span class="icon-location-pin" aria-hidden="true"></span>
  <span class="icon--class">.icon-location-pin</span>
</li>
<li>
  <span class="icon-direction" aria-hidden="true"></span>
  <span class="icon--class">.icon-direction</span>
</li>
<li>
  <span class="icon-directions" aria-hidden="true"></span>
  <span class="icon--class">.icon-directions</span>
</li>
<li>
  <span class="icon-compass" aria-hidden="true"></span>
  <span class="icon--class">.icon-compass</span>
</li>
<li>
  <span class="icon-layers" aria-hidden="true"></span>
  <span class="icon--class">.icon-layers</span>
</li>
<li>
  <span class="icon-menu" aria-hidden="true"></span>
  <span class="icon--class">.icon-menu</span>
</li>
<li>
  <span class="icon-list" aria-hidden="true"></span>
  <span class="icon--class">.icon-list</span>
</li>
<li>
  <span class="icon-options-vertical" aria-hidden="true"></span>
  <span class="icon--class">.icon-options-vertical</span>
</li>
<li>
  <span class="icon-options" aria-hidden="true"></span>
  <span class="icon--class">.icon-options</span>
</li>
<li>
  <span class="icon-arrow-down" aria-hidden="true"></span>
  <span class="icon--class">.icon-arrow-down</span>
</li>
<li>
  <span class="icon-arrow-left" aria-hidden="true"></span>
  <span class="icon--class">.icon-arrow-left</span>
</li>
<li>
  <span class="icon-arrow-right" aria-hidden="true"></span>
  <span class="icon--class">.icon-arrow-right</span>
</li>
<li>
  <span class="icon-arrow-up" aria-hidden="true"></span>
  <span class="icon--class">.icon-arrow-up</span>
</li>
<li>
  <span class="icon-arrow-up-circle" aria-hidden="true"></span>
  <span class="icon--class">.icon-arrow-up-circle</span>
</li>
<li>
  <span class="icon-arrow-left-circle" aria-hidden="true"></span>
  <span class="icon--class">.icon-arrow-left-circle</span>
</li>
<li>
  <span class="icon-arrow-right-circle" aria-hidden="true"></span>
  <span class="icon--class">.icon-arrow-right-circle</span>
</li>
<li>
  <span class="icon-arrow-down-circle" aria-hidden="true"></span>
  <span class="icon--class">.icon-arrow-down-circle</span>
</li>
<li>
  <span class="icon-check" aria-hidden="true"></span>
  <span class="icon--class">.icon-check</span>
</li>
<li>
  <span class="icon-clock" aria-hidden="true"></span>
  <span class="icon--class">.icon-clock</span>
</li>
<li>
  <span class="icon-plus" aria-hidden="true"></span>
  <span class="icon--class">.icon-plus</span>
</li>
<li>
  <span class="icon-close" aria-hidden="true"></span>
  <span class="icon--class">.icon-close</span>
</li>
<li>
  <span class="icon-trophy" aria-hidden="true"></span>
  <span class="icon--class">.icon-trophy</span>
</li>
<li>
  <span class="icon-screen-smartphone" aria-hidden="true"></span>
  <span class="icon--class">.icon-screen-smartphone</span>
</li>
<li>
  <span class="icon-screen-desktop" aria-hidden="true"></span>
  <span class="icon--class">.icon-screen-desktop</span>
</li>
<li>
  <span class="icon-plane" aria-hidden="true"></span>
  <span class="icon--class">.icon-plane</span>
</li>
<li>
  <span class="icon-notebook" aria-hidden="true"></span>
  <span class="icon--class">.icon-notebook</span>
</li>
<li>
  <span class="icon-mustache" aria-hidden="true"></span>
  <span class="icon--class">.icon-mustache</span>
</li>
<li>
  <span class="icon-mouse" aria-hidden="true"></span>
  <span class="icon--class">.icon-mouse</span>
</li>
<li>
  <span class="icon-magnet" aria-hidden="true"></span>
  <span class="icon--class">.icon-magnet</span>
</li>
<li>
  <span class="icon-energy" aria-hidden="true"></span>
  <span class="icon--class">.icon-energy</span>
</li>
<li>
  <span class="icon-disc" aria-hidden="true"></span>
  <span class="icon--class">.icon-disc</span>
</li>
<li>
  <span class="icon-cursor" aria-hidden="true"></span>
  <span class="icon--class">.icon-cursor</span>
</li>
<li>
  <span class="icon-cursor-move" aria-hidden="true"></span>
  <span class="icon--class">.icon-cursor-move</span>
</li>
<li>
  <span class="icon-crop" aria-hidden="true"></span>
  <span class="icon--class">.icon-crop</span>
</li>
<li>
  <span class="icon-chemistry" aria-hidden="true"></span>
  <span class="icon--class">.icon-chemistry</span>
</li>
<li>
  <span class="icon-speedometer" aria-hidden="true"></span>
  <span class="icon--class">.icon-speedometer</span>
</li>
<li>
  <span class="icon-shield" aria-hidden="true"></span>
  <span class="icon--class">.icon-shield</span>
</li>
<li>
  <span class="icon-screen-tablet" aria-hidden="true"></span>
  <span class="icon--class">.icon-screen-tablet</span>
</li>
<li>
  <span class="icon-magic-wand" aria-hidden="true"></span>
  <span class="icon--class">.icon-magic-wand</span>
</li>
<li>
  <span class="icon-hourglass" aria-hidden="true"></span>
  <span class="icon--class">.icon-hourglass</span>
</li>
<li>
  <span class="icon-graduation" aria-hidden="true"></span>
  <span class="icon--class">.icon-graduation</span>
</li>
<li>
  <span class="icon-ghost" aria-hidden="true"></span>
  <span class="icon--class">.icon-ghost</span>
</li>
<li>
  <span class="icon-game-controller" aria-hidden="true"></span>
  <span class="icon--class">.icon-game-controller</span>
</li>
<li>
  <span class="icon-fire" aria-hidden="true"></span>
  <span class="icon--class">.icon-fire</span>
</li>
<li>
  <span class="icon-eyeglass" aria-hidden="true"></span>
  <span class="icon--class">.icon-eyeglass</span>
</li>
<li>
  <span class="icon-envelope-open" aria-hidden="true"></span>
  <span class="icon--class">.icon-envelope-open</span>
</li>
<li>
  <span class="icon-envelope-letter" aria-hidden="true"></span>
  <span class="icon--class">.icon-envelope-letter</span>
</li>
<li>
  <span class="icon-bell" aria-hidden="true"></span>
  <span class="icon--class">.icon-bell</span>
</li>
<li>
  <span class="icon-badge" aria-hidden="true"></span>
  <span class="icon--class">.icon-badge</span>
</li>
<li>
  <span class="icon-anchor" aria-hidden="true"></span>
  <span class="icon--class">.icon-anchor</span>
</li>
<li>
  <span class="icon-wallet" aria-hidden="true"></span>
  <span class="icon--class">.icon-wallet</span>
</li>
<li>
  <span class="icon-vector" aria-hidden="true"></span>
  <span class="icon--class">.icon-vector</span>
</li>
<li>
  <span class="icon-speech" aria-hidden="true"></span>
  <span class="icon--class">.icon-speech</span>
</li>
<li>
  <span class="icon-puzzle" aria-hidden="true"></span>
  <span class="icon--class">.icon-puzzle</span>
</li>
<li>
  <span class="icon-printer" aria-hidden="true"></span>
  <span class="icon--class">.icon-printer</span>
</li>
<li>
  <span class="icon-present" aria-hidden="true"></span>
  <span class="icon--class">.icon-present</span>
</li>
<li>
  <span class="icon-playlist" aria-hidden="true"></span>
  <span class="icon--class">.icon-playlist</span>
</li>
<li>
  <span class="icon-pin" aria-hidden="true"></span>
  <span class="icon--class">.icon-pin</span>
</li>
<li>
  <span class="icon-picture" aria-hidden="true"></span>
  <span class="icon--class">.icon-picture</span>
</li>
<li>
  <span class="icon-handbag" aria-hidden="true"></span>
  <span class="icon--class">.icon-handbag</span>
</li>
<li>
  <span class="icon-globe-alt" aria-hidden="true"></span>
  <span class="icon--class">.icon-globe-alt</span>
</li>
<li>
  <span class="icon-globe" aria-hidden="true"></span>
  <span class="icon--class">.icon-globe</span>
</li>
<li>
  <span class="icon-folder-alt" aria-hidden="true"></span>
  <span class="icon--class">.icon-folder-alt</span>
</li>
<li>
  <span class="icon-folder" aria-hidden="true"></span>
  <span class="icon--class">.icon-folder</span>
</li>
<li>
  <span class="icon-film" aria-hidden="true"></span>
  <span class="icon--class">.icon-film</span>
</li>
<li>
  <span class="icon-feed" aria-hidden="true"></span>
  <span class="icon--class">.icon-feed</span>
</li>
<li>
  <span class="icon-drop" aria-hidden="true"></span>
  <span class="icon--class">.icon-drop</span>
</li>
<li>
  <span class="icon-drawar" aria-hidden="true"></span>
  <span class="icon--class">.icon-drawar</span>
</li>
<li>
  <span class="icon-docs" aria-hidden="true"></span>
  <span class="icon--class">.icon-docs</span>
</li>
<li>
  <span class="icon-doc" aria-hidden="true"></span>
  <span class="icon--class">.icon-doc</span>
</li>
<li>
  <span class="icon-diamond" aria-hidden="true"></span>
  <span class="icon--class">.icon-diamond</span>
</li>
<li>
  <span class="icon-cup" aria-hidden="true"></span>
  <span class="icon--class">.icon-cup</span>
</li>
<li>
  <span class="icon-calculator" aria-hidden="true"></span>
  <span class="icon--class">.icon-calculator</span>
</li>
<li>
  <span class="icon-bubbles" aria-hidden="true"></span>
  <span class="icon--class">.icon-bubbles</span>
</li>
<li>
  <span class="icon-briefcase" aria-hidden="true"></span>
  <span class="icon--class">.icon-briefcase</span>
</li>
<li>
  <span class="icon-book-open" aria-hidden="true"></span>
  <span class="icon--class">.icon-book-open</span>
</li>
<li>
  <span class="icon-basket-loaded" aria-hidden="true"></span>
  <span class="icon--class">.icon-basket-loaded</span>
</li>
<li>
  <span class="icon-basket" aria-hidden="true"></span>
  <span class="icon--class">.icon-basket</span>
</li>
<li>
  <span class="icon-bag" aria-hidden="true"></span>
  <span class="icon--class">.icon-bag</span>
</li>
<li>
  <span class="icon-action-undo" aria-hidden="true"></span>
  <span class="icon--class">.icon-action-undo</span>
</li>
<li>
  <span class="icon-action-redo" aria-hidden="true"></span>
  <span class="icon--class">.icon-action-redo</span>
</li>
<li>
  <span class="icon-wrench" aria-hidden="true"></span>
  <span class="icon--class">.icon-wrench</span>
</li>
<li>
  <span class="icon-umbrella" aria-hidden="true"></span>
  <span class="icon--class">.icon-umbrella</span>
</li>
<li>
  <span class="icon-trash" aria-hidden="true"></span>
  <span class="icon--class">.icon-trash</span>
</li>
<li>
  <span class="icon-tag" aria-hidden="true"></span>
  <span class="icon--class">.icon-tag</span>
</li>
<li>
  <span class="icon-support" aria-hidden="true"></span>
  <span class="icon--class">.icon-support</span>
</li>
<li>
  <span class="icon-frame" aria-hidden="true"></span>
  <span class="icon--class">.icon-frame</span>
</li>
<li>
  <span class="icon-size-fullscreen" aria-hidden="true"></span>
  <span class="icon--class">.icon-size-fullscreen</span>
</li>
<li>
  <span class="icon-size-actual" aria-hidden="true"></span>
  <span class="icon--class">.icon-size-actual</span>
</li>
<li>
  <span class="icon-shuffle" aria-hidden="true"></span>
  <span class="icon--class">.icon-shuffle</span>
</li>
<li>
  <span class="icon-share-alt" aria-hidden="true"></span>
  <span class="icon--class">.icon-share-alt</span>
</li>
<li>
  <span class="icon-share" aria-hidden="true"></span>
  <span class="icon--class">.icon-share</span>
</li>
<li>
  <span class="icon-rocket" aria-hidden="true"></span>
  <span class="icon--class">.icon-rocket</span>
</li>
<li>
  <span class="icon-question" aria-hidden="true"></span>
  <span class="icon--class">.icon-question</span>
</li>
<li>
  <span class="icon-pie-chart" aria-hidden="true"></span>
  <span class="icon--class">.icon-pie-chart</span>
</li>
<li>
  <span class="icon-pencil" aria-hidden="true"></span>
  <span class="icon--class">.icon-pencil</span>
</li>
<li>
  <span class="icon-note" aria-hidden="true"></span>
  <span class="icon--class">.icon-note</span>
</li>
<li>
  <span class="icon-loop" aria-hidden="true"></span>
  <span class="icon--class">.icon-loop</span>
</li>
<li>
  <span class="icon-home" aria-hidden="true"></span>
  <span class="icon--class">.icon-home</span>
</li>
<li>
  <span class="icon-grid" aria-hidden="true"></span>
  <span class="icon--class">.icon-grid</span>
</li>
<li>
  <span class="icon-graph" aria-hidden="true"></span>
  <span class="icon--class">.icon-graph</span>
</li>
<li>
  <span class="icon-microphone" aria-hidden="true"></span>
  <span class="icon--class">.icon-microphone</span>
</li>
<li>
  <span class="icon-music-tone-alt" aria-hidden="true"></span>
  <span class="icon--class">.icon-music-tone-alt</span>
</li>
<li>
  <span class="icon-music-tone" aria-hidden="true"></span>
  <span class="icon--class">.icon-music-tone</span>
</li>
<li>
  <span class="icon-earphones-alt" aria-hidden="true"></span>
  <span class="icon--class">.icon-earphones-alt</span>
</li>
<li>
  <span class="icon-earphones" aria-hidden="true"></span>
  <span class="icon--class">.icon-earphones</span>
</li>
<li>
  <span class="icon-equalizer" aria-hidden="true"></span>
  <span class="icon--class">.icon-equalizer</span>
</li>
<li>
  <span class="icon-like" aria-hidden="true"></span>
  <span class="icon--class">.icon-like</span>
</li>
<li>
  <span class="icon-dislike" aria-hidden="true"></span>
  <span class="icon--class">.icon-dislike</span>
</li>
<li>
  <span class="icon-control-start" aria-hidden="true"></span>
  <span class="icon--class">.icon-control-start</span>
</li>
<li>
  <span class="icon-control-rewind" aria-hidden="true"></span>
  <span class="icon--class">.icon-control-rewind</span>
</li>
<li>
  <span class="icon-control-play" aria-hidden="true"></span>
  <span class="icon--class">.icon-control-play</span>
</li>
<li>
  <span class="icon-control-pause" aria-hidden="true"></span>
  <span class="icon--class">.icon-control-pause</span>
</li>
<li>
  <span class="icon-control-forward" aria-hidden="true"></span>
  <span class="icon--class">.icon-control-forward</span>
</li>
<li>
  <span class="icon-control-end" aria-hidden="true"></span>
  <span class="icon--class">.icon-control-end</span>
</li>
<li>
  <span class="icon-volume-1" aria-hidden="true"></span>
  <span class="icon--class">.icon-volume-1</span>
</li>
<li>
  <span class="icon-volume-2" aria-hidden="true"></span>
  <span class="icon--class">.icon-volume-2</span>
</li>
<li>
  <span class="icon-volume-off" aria-hidden="true"></span>
  <span class="icon--class">.icon-volume-off</span>
</li>
<li>
  <span class="icon-calendar" aria-hidden="true"></span>
  <span class="icon--class">.icon-calendar</span>
</li>
<li>
  <span class="icon-bulb" aria-hidden="true"></span>
  <span class="icon--class">.icon-bulb</span>
</li>
<li>
  <span class="icon-chart" aria-hidden="true"></span>
  <span class="icon--class">.icon-chart</span>
</li>
<li>
  <span class="icon-ban" aria-hidden="true"></span>
  <span class="icon--class">.icon-ban</span>
</li>
<li>
  <span class="icon-bubble" aria-hidden="true"></span>
  <span class="icon--class">.icon-bubble</span>
</li>
<li>
  <span class="icon-camrecorder" aria-hidden="true"></span>
  <span class="icon--class">.icon-camrecorder</span>
</li>
<li>
  <span class="icon-camera" aria-hidden="true"></span>
  <span class="icon--class">.icon-camera</span>
</li>
<li>
  <span class="icon-cloud-download" aria-hidden="true"></span>
  <span class="icon--class">.icon-cloud-download</span>
</li>
<li>
  <span class="icon-cloud-upload" aria-hidden="true"></span>
  <span class="icon--class">.icon-cloud-upload</span>
</li>
<li>
  <span class="icon-envelope" aria-hidden="true"></span>
  <span class="icon--class">.icon-envelope</span>
</li>
<li>
  <span class="icon-eye" aria-hidden="true"></span>
  <span class="icon--class">.icon-eye</span>
</li>
<li>
  <span class="icon-flag" aria-hidden="true"></span>
  <span class="icon--class">.icon-flag</span>
</li>
<li>
  <span class="icon-heart" aria-hidden="true"></span>
  <span class="icon--class">.icon-heart</span>
</li>
<li>
  <span class="icon-info" aria-hidden="true"></span>
  <span class="icon--class">.icon-info</span>
</li>
<li>
  <span class="icon-key" aria-hidden="true"></span>
  <span class="icon--class">.icon-key</span>
</li>
<li>
  <span class="icon-link" aria-hidden="true"></span>
  <span class="icon--class">.icon-link</span>
</li>
<li>
  <span class="icon-lock" aria-hidden="true"></span>
  <span class="icon--class">.icon-lock</span>
</li>
<li>
  <span class="icon-lock-open" aria-hidden="true"></span>
  <span class="icon--class">.icon-lock-open</span>
</li>
<li>
  <span class="icon-magnifier" aria-hidden="true"></span>
  <span class="icon--class">.icon-magnifier</span>
</li>
<li>
  <span class="icon-magnifier-add" aria-hidden="true"></span>
  <span class="icon--class">.icon-magnifier-add</span>
</li>
<li>
  <span class="icon-magnifier-remove" aria-hidden="true"></span>
  <span class="icon--class">.icon-magnifier-remove</span>
</li>
<li>
  <span class="icon-paper-clip" aria-hidden="true"></span>
  <span class="icon--class">.icon-paper-clip</span>
</li>
<li>
  <span class="icon-paper-plane" aria-hidden="true"></span>
  <span class="icon--class">.icon-paper-plane</span>
</li>
<li>
  <span class="icon-power" aria-hidden="true"></span>
  <span class="icon--class">.icon-power</span>
</li>
<li>
  <span class="icon-refresh" aria-hidden="true"></span>
  <span class="icon--class">.icon-refresh</span>
</li>
<li>
  <span class="icon-reload" aria-hidden="true"></span>
  <span class="icon--class">.icon-reload</span>
</li>
<li>
  <span class="icon-settings" aria-hidden="true"></span>
  <span class="icon--class">.icon-settings</span>
</li>
<li>
  <span class="icon-star" aria-hidden="true"></span>
  <span class="icon--class">.icon-star</span>
</li>
<li>
  <span class="icon-symble-female" aria-hidden="true"></span>
  <span class="icon--class">.icon-symble-female</span>
</li>
<li>
  <span class="icon-symbol-male" aria-hidden="true"></span>
  <span class="icon--class">.icon-symbol-male</span>
</li>
<li>
  <span class="icon-target" aria-hidden="true"></span>
  <span class="icon--class">.icon-target</span>
</li>
<li>
  <span class="icon-credit-card" aria-hidden="true"></span>
  <span class="icon--class">.icon-credit-card</span>
</li>
<li>
  <span class="icon-paypal" aria-hidden="true"></span>
  <span class="icon--class">.icon-paypal</span>
</li>
<li>
  <span class="icon-social-tumblr" aria-hidden="true"></span>
  <span class="icon--class">.icon-social-tumblr</span>
</li>
<li>
  <span class="icon-social-twitter" aria-hidden="true"></span>
  <span class="icon--class">.icon-social-twitter</span>
</li>
<li>
  <span class="icon-social-facebook" aria-hidden="true"></span>
  <span class="icon--class">.icon-social-facebook</span>
</li>
<li>
  <span class="icon-social-instagram" aria-hidden="true"></span>
  <span class="icon--class">.icon-social-instagram</span>
</li>
<li>
  <span class="icon-social-linkedin" aria-hidden="true"></span>
  <span class="icon--class">.icon-social-linkedin</span>
</li>
<li>
  <span class="icon-social-pinterest" aria-hidden="true"></span>
  <span class="icon--class">.icon-social-pinterest</span>
</li>
<li>
  <span class="icon-social-github" aria-hidden="true"></span>
  <span class="icon--class">.icon-social-github</span>
</li>
<li>
  <span class="icon-social-gplus" aria-hidden="true"></span>
  <span class="icon--class">.icon-social-gplus</span>
</li>
<li>
  <span class="icon-social-reddit" aria-hidden="true"></span>
  <span class="icon--class">.icon-social-reddit</span>
</li>
<li>
  <span class="icon-social-skype" aria-hidden="true"></span>
  <span class="icon--class">.icon-social-skype</span>
</li>
<li>
  <span class="icon-social-dribbble" aria-hidden="true"></span>
  <span class="icon--class">.icon-social-dribbble</span>
</li>
<li>
  <span class="icon-social-behance" aria-hidden="true"></span>
  <span class="icon--class">.icon-social-behance</span>
</li>
<li>
  <span class="icon-social-foursqare" aria-hidden="true"></span>
  <span class="icon--class">.icon-social-foursqare</span>
</li>
<li>
  <span class="icon-social-soundcloud" aria-hidden="true"></span>
  <span class="icon--class">.icon-social-soundcloud</span>
</li>
<li>
  <span class="icon-social-spotify" aria-hidden="true"></span>
  <span class="icon--class">.icon-social-spotify</span>
</li>
<li>
  <span class="icon-social-stumbleupon" aria-hidden="true"></span>
  <span class="icon--class">.icon-social-stumbleupon</span>
</li>
<li>
  <span class="icon-social-youtube" aria-hidden="true"></span>
  <span class="icon--class">.icon-social-youtube</span>
</li>
<li>
  <span class="icon-social-dropbox" aria-hidden="true"></span>
  <span class="icon--class">.icon-social-dropbox</span>
</li>