<li>
  <span class="wi wi-day-sunny" aria-hidden="true"></span>
  <span class="icon--class">wi wi-day-sunny</span>
</li>

<li>
  <span class="wi wi-day-cloudy" aria-hidden="true"></span>
  <span class="icon--class">wi wi-day-cloudy</span>
</li>

<li>
  <span class="wi wi-day-cloudy-gusts" aria-hidden="true"></span>
  <span class="icon--class">wi wi-day-cloudy-gusts</span>
</li>

<li>
  <span class="wi wi-day-cloudy-windy" aria-hidden="true"></span>
  <span class="icon--class">wi wi-day-cloudy-windy</span>
</li>

<li>
  <span class="wi wi-day-fog" aria-hidden="true"></span>
  <span class="icon--class">wi wi-day-fog</span>
</li>

<li>
  <span class="wi wi-day-hail" aria-hidden="true"></span>
  <span class="icon--class">wi wi-day-hail</span>
</li>

<li>
  <span class="wi wi-day-haze" aria-hidden="true"></span>
  <span class="icon--class">wi wi-day-haze</span>
</li>

<li>
  <span class="wi wi-day-lightning" aria-hidden="true"></span>
  <span class="icon--class">wi wi-day-lightning</span>
</li>

<li>
  <span class="wi wi-day-rain" aria-hidden="true"></span>
  <span class="icon--class">wi wi-day-rain</span>
</li>

<li>
  <span class="wi wi-day-rain-mix" aria-hidden="true"></span>
  <span class="icon--class">wi wi-day-rain-mix</span>
</li>

<li>
  <span class="wi wi-day-rain-wind" aria-hidden="true"></span>
  <span class="icon--class">wi wi-day-rain-wind</span>
</li>

<li>
  <span class="wi wi-day-showers" aria-hidden="true"></span>
  <span class="icon--class">wi wi-day-showers</span>
</li>

<li>
  <span class="wi wi-day-sleet" aria-hidden="true"></span>
  <span class="icon--class">wi wi-day-sleet</span>
</li>

<li>
  <span class="wi wi-day-sleet-storm" aria-hidden="true"></span>
  <span class="icon--class">wi wi-day-sleet-storm</span>
</li>

<li>
  <span class="wi wi-day-snow" aria-hidden="true"></span>
  <span class="icon--class">wi wi-day-snow</span>
</li>

<li>
  <span class="wi wi-day-snow-thunderstorm" aria-hidden="true"></span>
  <span class="icon--class">wi wi-day-snow-thunderstorm</span>
</li>

<li>
  <span class="wi wi-day-snow-wind" aria-hidden="true"></span>
  <span class="icon--class">wi wi-day-snow-wind</span>
</li>

<li>
  <span class="wi wi-day-sprinkle" aria-hidden="true"></span>
  <span class="icon--class">wi wi-day-sprinkle</span>
</li>

<li>
  <span class="wi wi-day-storm-showers" aria-hidden="true"></span>
  <span class="icon--class">wi wi-day-storm-showers</span>
</li>

<li>
  <span class="wi wi-day-sunny-overcast" aria-hidden="true"></span>
  <span class="icon--class">wi wi-day-sunny-overcast</span>
</li>

<li>
  <span class="wi wi-day-thunderstorm" aria-hidden="true"></span>
  <span class="icon--class">wi wi-day-thunderstorm</span>
</li>

<li>
  <span class="wi wi-day-windy" aria-hidden="true"></span>
  <span class="icon--class">wi wi-day-windy</span>
</li>

<li>
  <span class="wi wi-solar-eclipse" aria-hidden="true"></span>
  <span class="icon--class">wi wi-solar-eclipse</span>
</li>

<li>
  <span class="wi wi-hot" aria-hidden="true"></span>
  <span class="icon--class">wi wi-hot</span>
</li>

<li>
  <span class="wi wi-day-cloudy-high" aria-hidden="true"></span>
  <span class="icon--class">wi wi-day-cloudy-high</span>
</li>

<li>
  <span class="wi wi-day-light-wind" aria-hidden="true"></span>
  <span class="icon--class">wi wi-day-light-wind</span>
</li>

<li>
  <span class="wi wi-night-clear" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-clear</span>
</li>

<li>
  <span class="wi wi-night-alt-cloudy" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-alt-cloudy</span>
</li>

<li>
  <span class="wi wi-night-alt-cloudy-gusts" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-alt-cloudy-gusts</span>
</li>

<li>
  <span class="wi wi-night-alt-cloudy-windy" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-alt-cloudy-windy</span>
</li>

<li>
  <span class="wi wi-night-alt-hail" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-alt-hail</span>
</li>

<li>
  <span class="wi wi-night-alt-lightning" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-alt-lightning</span>
</li>

<li>
  <span class="wi wi-night-alt-rain" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-alt-rain</span>
</li>

<li>
  <span class="wi wi-night-alt-rain-mix" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-alt-rain-mix</span>
</li>

<li>
  <span class="wi wi-night-alt-rain-wind" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-alt-rain-wind</span>
</li>

<li>
  <span class="wi wi-night-alt-showers" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-alt-showers</span>
</li>

<li>
  <span class="wi wi-night-alt-sleet" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-alt-sleet</span>
</li>

<li>
  <span class="wi wi-night-alt-sleet-storm" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-alt-sleet-storm</span>
</li>

<li>
  <span class="wi wi-night-alt-snow" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-alt-snow</span>
</li>

<li>
  <span class="wi wi-night-alt-snow-thunderstorm" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-alt-snow-thunderstorm</span>
</li>

<li>
  <span class="wi wi-night-alt-snow-wind" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-alt-snow-wind</span>
</li>

<li>
  <span class="wi wi-night-alt-sprinkle" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-alt-sprinkle</span>
</li>

<li>
  <span class="wi wi-night-alt-storm-showers" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-alt-storm-showers</span>
</li>

<li>
  <span class="wi wi-night-alt-thunderstorm" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-alt-thunderstorm</span>
</li>

<li>
  <span class="wi wi-night-cloudy" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-cloudy</span>
</li>

<li>
  <span class="wi wi-night-cloudy-gusts" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-cloudy-gusts</span>
</li>

<li>
  <span class="wi wi-night-cloudy-windy" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-cloudy-windy</span>
</li>

<li>
  <span class="wi wi-night-fog" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-fog</span>
</li>

<li>
  <span class="wi wi-night-hail" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-hail</span>
</li>

<li>
  <span class="wi wi-night-lightning" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-lightning</span>
</li>

<li>
  <span class="wi wi-night-partly-cloudy" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-partly-cloudy</span>
</li>

<li>
  <span class="wi wi-night-rain" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-rain</span>
</li>

<li>
  <span class="wi wi-night-rain-mix" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-rain-mix</span>
</li>

<li>
  <span class="wi wi-night-rain-wind" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-rain-wind</span>
</li>

<li>
  <span class="wi wi-night-showers" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-showers</span>
</li>

<li>
  <span class="wi wi-night-sleet" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-sleet</span>
</li>

<li>
  <span class="wi wi-night-sleet-storm" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-sleet-storm</span>
</li>

<li>
  <span class="wi wi-night-snow" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-snow</span>
</li>

<li>
  <span class="wi wi-night-snow-thunderstorm" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-snow-thunderstorm</span>
</li>

<li>
  <span class="wi wi-night-snow-wind" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-snow-wind</span>
</li>

<li>
  <span class="wi wi-night-sprinkle" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-sprinkle</span>
</li>

<li>
  <span class="wi wi-night-storm-showers" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-storm-showers</span>
</li>

<li>
  <span class="wi wi-night-thunderstorm" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-thunderstorm</span>
</li>

<li>
  <span class="wi wi-lunar-eclipse" aria-hidden="true"></span>
  <span class="icon--class">wi wi-lunar-eclipse</span>
</li>

<li>
  <span class="wi wi-stars" aria-hidden="true"></span>
  <span class="icon--class">wi wi-stars</span>
</li>

<li>
  <span class="wi wi-storm-showers" aria-hidden="true"></span>
  <span class="icon--class">wi wi-storm-showers</span>
</li>

<li>
  <span class="wi wi-thunderstorm" aria-hidden="true"></span>
  <span class="icon--class">wi wi-thunderstorm</span>
</li>

<li>
  <span class="wi wi-night-alt-cloudy-high" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-alt-cloudy-high</span>
</li>

<li>
  <span class="wi wi-night-cloudy-high" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-cloudy-high</span>
</li>

<li>
  <span class="wi wi-night-alt-partly-cloudy" aria-hidden="true"></span>
  <span class="icon--class">wi wi-night-alt-partly-cloudy</span>
</li>

<li>
  <span class="wi wi-cloud" aria-hidden="true"></span>
  <span class="icon--class">wi wi-cloud</span>
</li>

<li>
  <span class="wi wi-cloudy" aria-hidden="true"></span>
  <span class="icon--class">wi wi-cloudy</span>
</li>

<li>
  <span class="wi wi-cloudy-gusts" aria-hidden="true"></span>
  <span class="icon--class">wi wi-cloudy-gusts</span>
</li>

<li>
  <span class="wi wi-cloudy-windy" aria-hidden="true"></span>
  <span class="icon--class">wi wi-cloudy-windy</span>
</li>

<li>
  <span class="wi wi-fog" aria-hidden="true"></span>
  <span class="icon--class">wi wi-fog</span>
</li>

<li>
  <span class="wi wi-hail" aria-hidden="true"></span>
  <span class="icon--class">wi wi-hail</span>
</li>

<li>
  <span class="wi wi-rain" aria-hidden="true"></span>
  <span class="icon--class">wi wi-rain</span>
</li>

<li>
  <span class="wi wi-rain-mix" aria-hidden="true"></span>
  <span class="icon--class">wi wi-rain-mix</span>
</li>

<li>
  <span class="wi wi-rain-wind" aria-hidden="true"></span>
  <span class="icon--class">wi wi-rain-wind</span>
</li>

<li>
  <span class="wi wi-showers" aria-hidden="true"></span>
  <span class="icon--class">wi wi-showers</span>
</li>

<li>
  <span class="wi wi-sleet" aria-hidden="true"></span>
  <span class="icon--class">wi wi-sleet</span>
</li>

<li>
  <span class="wi wi-snow" aria-hidden="true"></span>
  <span class="icon--class">wi wi-snow</span>
</li>

<li>
  <span class="wi wi-sprinkle" aria-hidden="true"></span>
  <span class="icon--class">wi wi-sprinkle</span>
</li>

<li>
  <span class="wi wi-storm-showers" aria-hidden="true"></span>
  <span class="icon--class">wi wi-storm-showers</span>
</li>

<li>
  <span class="wi wi-thunderstorm" aria-hidden="true"></span>
  <span class="icon--class">wi wi-thunderstorm</span>
</li>

<li>
  <span class="wi wi-snow-wind" aria-hidden="true"></span>
  <span class="icon--class">wi wi-snow-wind</span>
</li>

<li>
  <span class="wi wi-snow" aria-hidden="true"></span>
  <span class="icon--class">wi wi-snow</span>
</li>

<li>
  <span class="wi wi-smog" aria-hidden="true"></span>
  <span class="icon--class">wi wi-smog</span>
</li>

<li>
  <span class="wi wi-smoke" aria-hidden="true"></span>
  <span class="icon--class">wi wi-smoke</span>
</li>

<li>
  <span class="wi wi-lightning" aria-hidden="true"></span>
  <span class="icon--class">wi wi-lightning</span>
</li>

<li>
  <span class="wi wi-raindrops" aria-hidden="true"></span>
  <span class="icon--class">wi wi-raindrops</span>
</li>

<li>
  <span class="wi wi-raindrop" aria-hidden="true"></span>
  <span class="icon--class">wi wi-raindrop</span>
</li>

<li>
  <span class="wi wi-dust" aria-hidden="true"></span>
  <span class="icon--class">wi wi-dust</span>
</li>

<li>
  <span class="wi wi-snowflake-cold" aria-hidden="true"></span>
  <span class="icon--class">wi wi-snowflake-cold</span>
</li>

<li>
  <span class="wi wi-windy" aria-hidden="true"></span>
  <span class="icon--class">wi wi-windy</span>
</li>

<li>
  <span class="wi wi-strong-wind" aria-hidden="true"></span>
  <span class="icon--class">wi wi-strong-wind</span>
</li>

<li>
  <span class="wi wi-sandstorm" aria-hidden="true"></span>
  <span class="icon--class">wi wi-sandstorm</span>
</li>

<li>
  <span class="wi wi-earthquake" aria-hidden="true"></span>
  <span class="icon--class">wi wi-earthquake</span>
</li>

<li>
  <span class="wi wi-fire" aria-hidden="true"></span>
  <span class="icon--class">wi wi-fire</span>
</li>

<li>
  <span class="wi wi-flood" aria-hidden="true"></span>
  <span class="icon--class">wi wi-flood</span>
</li>

<li>
  <span class="wi wi-meteor" aria-hidden="true"></span>
  <span class="icon--class">wi wi-meteor</span>
</li>

<li>
  <span class="wi wi-tsunami" aria-hidden="true"></span>
  <span class="icon--class">wi wi-tsunami</span>
</li>

<li>
  <span class="wi wi-volcano" aria-hidden="true"></span>
  <span class="icon--class">wi wi-volcano</span>
</li>

<li>
  <span class="wi wi-hurricane" aria-hidden="true"></span>
  <span class="icon--class">wi wi-hurricane</span>
</li>

<li>
  <span class="wi wi-tornado" aria-hidden="true"></span>
  <span class="icon--class">wi wi-tornado</span>
</li>

<li>
  <span class="wi wi-small-craft-advisory" aria-hidden="true"></span>
  <span class="icon--class">wi wi-small-craft-advisory</span>
</li>

<li>
  <span class="wi wi-gale-warning" aria-hidden="true"></span>
  <span class="icon--class">wi wi-gale-warning</span>
</li>

<li>
  <span class="wi wi-storm-warning" aria-hidden="true"></span>
  <span class="icon--class">wi wi-storm-warning</span>
</li>

<li>
  <span class="wi wi-hurricane-warning" aria-hidden="true"></span>
  <span class="icon--class">wi wi-hurricane-warning</span>
</li>

<li>
  <span class="wi wi-wind-direction" aria-hidden="true"></span>
  <span class="icon--class">wi wi-wind-direction</span>
</li>

<li>
  <span class="wi wi-alien" aria-hidden="true"></span>
  <span class="icon--class">wi wi-alien</span>
</li>

<li>
  <span class="wi wi-celsius" aria-hidden="true"></span>
  <span class="icon--class">wi wi-celsius</span>
</li>

<li>
  <span class="wi wi-fahrenheit" aria-hidden="true"></span>
  <span class="icon--class">wi wi-fahrenheit</span>
</li>

<li>
  <span class="wi wi-degrees" aria-hidden="true"></span>
  <span class="icon--class">wi wi-degrees</span>
</li>

<li>
  <span class="wi wi-thermometer" aria-hidden="true"></span>
  <span class="icon--class">wi wi-thermometer</span>
</li>

<li>
  <span class="wi wi-thermometer-exterior" aria-hidden="true"></span>
  <span class="icon--class">wi wi-thermometer-exterior</span>
</li>

<li>
  <span class="wi wi-thermometer-internal" aria-hidden="true"></span>
  <span class="icon--class">wi wi-thermometer-internal</span>
</li>

<li>
  <span class="wi wi-cloud-down" aria-hidden="true"></span>
  <span class="icon--class">wi wi-cloud-down</span>
</li>

<li>
  <span class="wi wi-cloud-up" aria-hidden="true"></span>
  <span class="icon--class">wi wi-cloud-up</span>
</li>

<li>
  <span class="wi wi-cloud-refresh" aria-hidden="true"></span>
  <span class="icon--class">wi wi-cloud-refresh</span>
</li>

<li>
  <span class="wi wi-horizon" aria-hidden="true"></span>
  <span class="icon--class">wi wi-horizon</span>
</li>

<li>
  <span class="wi wi-horizon-alt" aria-hidden="true"></span>
  <span class="icon--class">wi wi-horizon-alt</span>
</li>

<li>
  <span class="wi wi-sunrise" aria-hidden="true"></span>
  <span class="icon--class">wi wi-sunrise</span>
</li>

<li>
  <span class="wi wi-sunset" aria-hidden="true"></span>
  <span class="icon--class">wi wi-sunset</span>
</li>

<li>
  <span class="wi wi-moonrise" aria-hidden="true"></span>
  <span class="icon--class">wi wi-moonrise</span>
</li>

<li>
  <span class="wi wi-moonset" aria-hidden="true"></span>
  <span class="icon--class">wi wi-moonset</span>
</li>

<li>
  <span class="wi wi-refresh" aria-hidden="true"></span>
  <span class="icon--class">wi wi-refresh</span>
</li>

<li>
  <span class="wi wi-refresh-alt" aria-hidden="true"></span>
  <span class="icon--class">wi wi-refresh-alt</span>
</li>

<li>
  <span class="wi wi-umbrella" aria-hidden="true"></span>
  <span class="icon--class">wi wi-umbrella</span>
</li>

<li>
  <span class="wi wi-barometer" aria-hidden="true"></span>
  <span class="icon--class">wi wi-barometer</span>
</li>

<li>
  <span class="wi wi-humidity" aria-hidden="true"></span>
  <span class="icon--class">wi wi-humidity</span>
</li>

<li>
  <span class="wi wi-na" aria-hidden="true"></span>
  <span class="icon--class">wi wi-na</span>
</li>

<li>
  <span class="wi wi-train" aria-hidden="true"></span>
  <span class="icon--class">wi wi-train</span>
</li>

<li>
  <span class="wi wi-moon-new" aria-hidden="true"></span>
  <span class="icon--class">wi wi-moon-new</span>
</li>

<li>
  <span class="wi wi-moon-waxing-cresent-1" aria-hidden="true"></span>
  <span class="icon--class">wi wi-moon-waxing-cresent-1</span>
</li>

<li>
  <span class="wi wi-moon-waxing-cresent-2" aria-hidden="true"></span>
  <span class="icon--class">wi wi-moon-waxing-cresent-2</span>
</li>

<li>
  <span class="wi wi-moon-waxing-cresent-3" aria-hidden="true"></span>
  <span class="icon--class">wi wi-moon-waxing-cresent-3</span>
</li>

<li>
  <span class="wi wi-moon-waxing-cresent-4" aria-hidden="true"></span>
  <span class="icon--class">wi wi-moon-waxing-cresent-4</span>
</li>

<li>
  <span class="wi wi-moon-waxing-cresent-5" aria-hidden="true"></span>
  <span class="icon--class">wi wi-moon-waxing-cresent-5</span>
</li>

<li>
  <span class="wi wi-moon-waxing-cresent-6" aria-hidden="true"></span>
  <span class="icon--class">wi wi-moon-waxing-cresent-6</span>
</li>

<li>
  <span class="wi wi-moon-waxing-gibbous-1" aria-hidden="true"></span>
  <span class="icon--class">wi wi-moon-waxing-gibbous-1</span>
</li>

<li>
  <span class="wi wi-moon-waxing-gibbous-2" aria-hidden="true"></span>
  <span class="icon--class">wi wi-moon-waxing-gibbous-2</span>
</li>

<li>
  <span class="wi wi-moon-waxing-gibbous-3" aria-hidden="true"></span>
  <span class="icon--class">wi wi-moon-waxing-gibbous-3</span>
</li>

<li>
  <span class="wi wi-moon-waxing-gibbous-4" aria-hidden="true"></span>
  <span class="icon--class">wi wi-moon-waxing-gibbous-4</span>
</li>

<li>
  <span class="wi wi-moon-waxing-gibbous-5" aria-hidden="true"></span>
  <span class="icon--class">wi wi-moon-waxing-gibbous-5</span>
</li>

<li>
  <span class="wi wi-moon-waxing-gibbous-6" aria-hidden="true"></span>
  <span class="icon--class">wi wi-moon-waxing-gibbous-6</span>
</li>

<li>
  <span class="wi wi-moon-full" aria-hidden="true"></span>
  <span class="icon--class">wi wi-moon-full</span>
</li>

<li>
  <span class="wi wi-moon-waning-gibbous-1" aria-hidden="true"></span>
  <span class="icon--class">wi wi-moon-waning-gibbous-1</span>
</li>

<li>
  <span class="wi wi-moon-waning-gibbous-2" aria-hidden="true"></span>
  <span class="icon--class">wi wi-moon-waning-gibbous-2</span>
</li>

<li>
  <span class="wi wi-moon-waning-gibbous-3" aria-hidden="true"></span>
  <span class="icon--class">wi wi-moon-waning-gibbous-3</span>
</li>

<li>
  <span class="wi wi-moon-waning-gibbous-4" aria-hidden="true"></span>
  <span class="icon--class">wi wi-moon-waning-gibbous-4</span>
</li>

<li>
  <span class="wi wi-moon-waning-gibbous-5" aria-hidden="true"></span>
  <span class="icon--class">wi wi-moon-waning-gibbous-5</span>
</li>

<li>
  <span class="wi wi-moon-waning-gibbous-6" aria-hidden="true"></span>
  <span class="icon--class">wi wi-moon-waning-gibbous-6</span>
</li>

<li>
  <span class="wi wi-moon-waning-crescent-1" aria-hidden="true"></span>
  <span class="icon--class">wi wi-moon-waning-crescent-1</span>
</li>

<li>
  <span class="wi wi-moon-waning-crescent-2" aria-hidden="true"></span>
  <span class="icon--class">wi wi-moon-waning-crescent-2</span>
</li>

<li>
  <span class="wi wi-moon-waning-crescent-3" aria-hidden="true"></span>
  <span class="icon--class">wi wi-moon-waning-crescent-3</span>
</li>

<li>
  <span class="wi wi-moon-waning-crescent-4" aria-hidden="true"></span>
  <span class="icon--class">wi wi-moon-waning-crescent-4</span>
</li>

<li>
  <span class="wi wi-moon-waning-crescent-5" aria-hidden="true"></span>
  <span class="icon--class">wi wi-moon-waning-crescent-5</span>
</li>

<li>
  <span class="wi wi-moon-waning-crescent-6" aria-hidden="true"></span>
  <span class="icon--class">wi wi-moon-waning-crescent-6</span>
</li>

<li>
  <span class="wi wi-time-1" aria-hidden="true"></span>
  <span class="icon--class">wi wi-time-1</span>
</li>

<li>
  <span class="wi wi-time-2" aria-hidden="true"></span>
  <span class="icon--class">wi wi-time-2</span>
</li>

<li>
  <span class="wi wi-time-3" aria-hidden="true"></span>
  <span class="icon--class">wi wi-time-3</span>
</li>

<li>
  <span class="wi wi-time-4" aria-hidden="true"></span>
  <span class="icon--class">wi wi-time-4</span>
</li>

<li>
  <span class="wi wi-time-5" aria-hidden="true"></span>
  <span class="icon--class">wi wi-time-5</span>
</li>

<li>
  <span class="wi wi-time-6" aria-hidden="true"></span>
  <span class="icon--class">wi wi-time-6</span>
</li>

<li>
  <span class="wi wi-time-7" aria-hidden="true"></span>
  <span class="icon--class">wi wi-time-7</span>
</li>

<li>
  <span class="wi wi-time-8" aria-hidden="true"></span>
  <span class="icon--class">wi wi-time-8</span>
</li>

<li>
  <span class="wi wi-time-9" aria-hidden="true"></span>
  <span class="icon--class">wi wi-time-9</span>
</li>

<li>
  <span class="wi wi-time-10" aria-hidden="true"></span>
  <span class="icon--class">wi wi-time-10</span>
</li>

<li>
  <span class="wi wi-time-11" aria-hidden="true"></span>
  <span class="icon--class">wi wi-time-11</span>
</li>

<li>
  <span class="wi wi-time-12" aria-hidden="true"></span>
  <span class="icon--class">wi wi-time-12</span>
</li>

<li>
  <span class="wi wi-direction-up" aria-hidden="true"></span>
  <span class="icon--class">wi wi-direction-up</span>
</li>

<li>
  <span class="wi wi-direction-up-right" aria-hidden="true"></span>
  <span class="icon--class">wi wi-direction-up-right</span>
</li>

<li>
  <span class="wi wi-direction-right" aria-hidden="true"></span>
  <span class="icon--class">wi wi-direction-right</span>
</li>

<li>
  <span class="wi wi-direction-down-right" aria-hidden="true"></span>
  <span class="icon--class">wi wi-direction-down-right</span>
</li>

<li>
  <span class="wi wi-direction-down" aria-hidden="true"></span>
  <span class="icon--class">wi wi-direction-down</span>
</li>

<li>
  <span class="wi wi-direction-down-left" aria-hidden="true"></span>
  <span class="icon--class">wi wi-direction-down-left</span>
</li>

<li>
  <span class="wi wi-direction-left" aria-hidden="true"></span>
  <span class="icon--class">wi wi-direction-left</span>
</li>

<li>
  <span class="wi wi-direction-up-left" aria-hidden="true"></span>
  <span class="icon--class">wi wi-direction-up-left</span>


</li>